<div class="order_form" width="100%">
  <center>
  <table width="65%" border="0">
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr><td align="center">
    <p> <h2 style="color:#2bcba5;"> WE RECEIVED YOUR ANSWER!</h2> </p>
    </td></tr>
    <tr><td align="center">
    <p>Your approval or rejection will reflect the status of the Artwork below
    <%= "(This is not the latest approval)" unless approval.artwork_approval_hdr.id == approval.artwork_approval_hdr.artwork.artwork_approval_hdrs.order(:id).last.id %>:</p>
    </td></tr>
    <tr><td align="center">
      <br/>
      <br/>
    </td></tr>
    </table>
    <table width="65%" border="0">
    <tr>
      <td width="50%">
        Artwork Title :<br>
        <h4> <%= approval.artwork_approval_hdr.artwork.name %></h4>
      </td>
      <td width="50%" align="right">
        Approval Status<br>
        <h4> <%= approval.status %> </h4>
      </td>
    </tr>
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr>
      <td width="50%">
        Artist Name :<br>
        <h4> <%= approval.artwork_approval_hdr.artwork.user.name %></h4>
      </td>
    </tr>
    <tr>
      <td colspan=2 align="center">
        <br/>
        <br/>
        <br/>
      </td>
    </tr>
    </table>
    <table width="80%" border="0">
      <tr>
        <td width="50%">
          <p> <h5> <%= image_tag image_path("ig.png"), width: "7%", height: "7%"%> instagram </h5> </p>
        </td>
        <td width="50%" align="right">
          <p> <h5> (+65)4531 5638 </h5>
          <h5> contact@artzibit.net</h5> </p>
        </td>
      </tr>
    </table>
  </center>
</div>