
<div ng-controller="MyArtworksController as my_artworks">
  <div class="block widget box-shadow bg-white mb-30">
    <div class="row m-0">
      <h3 class="f-left">Open Marketplace</h3>
      <ul class="shop-tab f-right text-right" role="tablist">
        <li class="active">
            <a href="#grid-view-1" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
        </li>
        <li>
            <a href="#list-view-1" data-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
        </li>
      </ul>   
      <hr class="mt-5 mb-10">
    </div>
  	<!-- shop-option start -->
    <div class="block clearfix">
        <!-- short-by -->
        <!-- <div class="short-by f-left text-left">
            <span>Sort by :</span>
            <select>
                <option value="volvo">Newest items</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select> 
        </div>   -->  
        <!-- Nav tabs -->                         
    </div>
      <!-- shop-option end -->
    <!-- short-by -->
    <div class="row text-center" ng-show="!my_artworks.artworks_public">
      <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
    </div>

    <div class="bg-light-gray row m-0 p-20 text-center"  ng-if="my_artworks.artworks_public.length < 1">
      <h3>No artwork found</h3>
      <p>Looks like you haven't uploaded anything yet. Start uploading artwork so you can start selling.</p>
      <a href="<%= new_artwork_path %>" class="btn btn-primary">
        Upload Artwork
      </a>
    </div>

    <div class="tab-content">

     		<!-- grid-view -->
        <div role="tabpanel" class="tab-pane active" id="grid-view-1">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="($idx, product) in my_artworks.artworks_public">
                <!-- product-item start -->
                <%= render "shared/product_item" %>
                <!-- product-item end -->
              </div>
            </div>
        </div>
        <!-- list-view -->
        <div role="tabpanel" class="tab-pane list-view" id="list-view-1">
            <div class="row">
                <!-- product-item start -->
                <div class="col-md-12" ng-repeat="($idx, product) in my_artworks.artworks_public">
                    <div class="shop-list product-item">
                        <div class="product-img">
                          <a href="<%= products_path %>/{{product.id}}">
                            <div class="img-con">
                              <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
                            </div>
                          </a>
                        </div>
                        <div class="product-info">
                            <div class="clearfix">
                                <div class="row m-0">
                                  <div class="col-xs-8 pl-0">
                                    <h6 class="product-title">
                                      <a href="#">{{product.name}}</a>
                                    </h6>
                                    <h7 class="product-owner">{{product.artist_name || 'Artist Name'}}</h7>

                                  </div>
                                  <div class="col-xs-4 p-r-0 text-right v-align-t-childs">
                                    <div class="block text-right">
                                      <a href="javascript:void(0)" favorite-toggle-button><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                                      <span class="fav-counts">{{product.favorites_count}}</span>
                                    </div>
                                    
                                  </div>
                                </div>
                                <div class="row m-0">
                                  <div class="product-options borderless">
                                    <span class="f-left">{{product.created_at}}</span>
                                    <span class="text-right f-right">
                                      <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
                                      <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>
                                    </span>
                                  </div>
                                </div>
                                
                            </div>
                            <!-- <p>{{product.description}}</p> -->

                        </div>
                    </div>
                </div>
                <!-- product-item end -->

            </div>                                        
        </div>

    </div>

  </div>	


  <div class="block widget box-shadow bg-white">
    <div class="row m-0">
      <h3 class="f-left">Private Album</h3>
      <ul class="shop-tab f-right text-right" role="tablist">
        <li class="active">
            <a href="#grid-view-2" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
        </li>
        <li>
            <a href="#list-view-2" data-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
        </li>
      </ul>   
      <hr class="mt-5 mb-10">
    </div>
    <!-- shop-option start -->
    <div class="block clearfix">

        <!-- short-by -->
       <!--  <div class="short-by f-left text-left">
            <span>Sort by :</span>
            <select>
                <option value="volvo">Newest items</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select> 
        </div>    --> 
        <!-- Nav tabs -->
                                   
    </div>
      <!-- shop-option end -->
    <!-- short-by -->

    <div class="row text-center" ng-show="!my_artworks.artworks_private">
      <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
    </div>

    <div class="bg-light-gray row m-0 p-20 text-center"  ng-if="my_artworks.artworks_private.length < 1">
      <h3>No artwork found</h3>
      <p>Looks like you haven't uploaded anything yet. Start uploading artwork so you can start selling.</p>
      <a href="<%= new_artwork_path %>" class="btn btn-primary">
        Upload Artwork
      </a>
    </div>


    <div class="tab-content">

        <!-- grid-view -->
        <div role="tabpanel" class="tab-pane active" id="grid-view-2">
            <div class="row">
                <!-- product-item start -->
                <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="($idx, product) in my_artworks.artworks_private">
                    <div class="product-item">
                        <div class="product-img">
                          <a href="<%= products_path %>/{{product.id}}">
                            <div class="img-con">
                              <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
                            </div>
                          </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-8 p-0">
                                <h6 class="product-title">
                                  <a href="#">{{product.name}}</a>
                                </h6>
                                <h7 class="product-owner">{{product.artist_name }}</h7>

                              </div>
                              <div class="col-xs-4  p-0 text-right v-align-t-childs">
                                <a href="javascript:void(0)" favorite-toggle-button><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                                <span class="fav-counts">{{product.favorites_count}}</span>
                              </div>
                            </div>
                            <div class="block product-options">
                              <span>{{product.created_at}}</span>
                              <span class="text-right f-right">
                                <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
                                <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
            </div>
        </div>
        <!-- list-view -->
        <div role="tabpanel" class="tab-pane" id="list-view-2">
            <div class="row">
                <!-- product-item start -->
                <div class="col-md-12" ng-repeat="($idx, product) in my_artworks.artworks_private">
                    <div class="shop-list product-item">
                        <div class="product-img">
                          <a href="<%= products_path %>/{{product.id}}">
                            <div class="img-con">
                              <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
                            </div>
                          </a>
                        </div>
                        <div class="product-info">
                            <div class="clearfix">
                                <div class="row m-0">
                                  <div class="col-xs-8 pl-0">
                                    <h6 class="product-title">
                                      <a href="#">{{product.name}}</a>
                                    </h6>
                                    <h7 class="product-owner">{{product.artist_name || 'Artist Name'}}</h7>

                                  </div>
                                  <div class="col-xs-4 p-r-0 text-right v-align-t-childs">
                                    <div class="block text-right">
                                      <a href="javascript:void(0)" favorite-toggle-button><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                                      <span class="fav-counts">{{product.favorites_count}}</span>
                                    </div>
                                    
                                  </div>
                                </div>
                                <div class="row m-0">
                                  <div class="product-options borderless">
                                    <span class="f-left">{{product.created_at}}</span>
                                    <span class="text-right f-right">
                                      <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
                                      <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>
                                    </span>
                                  </div>
                                </div>
                                
                            </div>
                            <!-- <p>{{product.description}}</p> -->

                        </div>
                    </div>
                </div>
                <!-- product-item end -->

            </div>                                        
        </div>

    </div>

  </div>
</div>