<div ng-controller="MyProfileController as my_profile">
  <div class="row text-center" ng-if="!my_profile.current_user.id">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
  </div>
  <div class="row m-0" ng-show="my_profile.current_user.id">

    <div class="block custom-banner">
    	<div class="inner text-center">
    		<div class="initial">
    			<span class="text">{{my_profile.current_user.first_name[0]}}{{my_profile.current_user.last_name[0]}}</span>
    		</div>
    		<h4 class="name"> <strong>{{my_profile.current_user.first_name}} {{my_profile.current_user.middle_name}} {{my_profile.current_user.last_name}}</strong></h4>
    		<h5 class="position">{{my_profile.current_user.website_portfolio  || 'N/A'}}</h5>
    	</div>
    </div>

    <div class="block widget bg-white box-shadow">
    	<div class="block mb-20">
    		<div class="col-xs-4">
    			<strong>Name:</strong>
    		</div>
    		<div class="col-xs-8 ">
    			<span>{{my_profile.current_user.first_name}} {{my_profile.current_user.middle_name}} {{my_profile.current_user.last_name}}</span>
    		</div>
    	</div>

    	
    	<div class="block mb-20">
    		<div class="col-xs-4">
    			<strong>Country:</strong>
    		</div>
    		<div class="col-xs-8 ">
    			<span>{{my_profile.current_user.country || 'N/A'}}</span>
    		</div>
    	</div>

    	
    	<div class="block mb-20">
    		<div class="col-xs-4">
    			<strong>Contact Number:</strong>
    		</div>
    		<div class="col-xs-8 ">
    			<span>{{my_profile.current_user.contact_no || 'N/A'}}</span>
    		</div>
    	</div>
    	
    	<div class="block mb-20">
    		<div class="col-xs-4">
    			<strong>Bio:</strong>
    		</div>
    		<div class="col-xs-8 ">
    			<span>{{my_profile.current_user.website_portfolio || 'N/A'}}</span>
    		</div>
    	</div>


    	<div class="block text-right">
    		<hr>
    		<a href="javascript:void(0)" ng-click="my_profile.preUpdateCurrentUser(my_profile.current_user)" class="button button-primary text-center" tabindex="-1">
            <span class="text-uppercase w-100">Edit Profile</span>
        </a>
    		<a href="javascript:void(0)" ng-click="my_profile.preChangePass();my_profile.cp_form.reset()" class="button button-black text-center" tabindex="-1">
            <span class="text-uppercase w-100">Change Password</span>
        </a>
    	</div>
    </div>

  </div>


  <!-- Modal -->
  <div id="my-profile-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Profile Details</h4>
        </div>
        <div class="modal-body">
        	<form angular-validator-submit="my_profile.submitCurrentUserForm()" 
                novalidate angular-validator
                name="my_profile_form" class="margin-bottom-0">
        		<input type="hidden" name="card_id" value="1" ng-model="my_profile.user_form.id">	

        		<div class="form-group">
        			<label>First Name:</label>
        			<input type="text" name="first_name" class="form-control" ng-model="my_profile.user_form.first_name" placeholder="First name" required="">
        		</div>

        		<div class="form-group">
        			<label>Last Name:</label>
        			<input type="text" name="last_name" class="form-control" ng-model="my_profile.user_form.last_name" placeholder="Last name" required>
        		</div>

        		<div class="form-group">
        			<label>Country:</label>
        			<div class="select-wrapper">
        				<country-select name="country" ng-model="my_profile.user_form.country" cs-priorities="SG" cs-required></country-select>
        			</div>
        		</div>

        		<div class="form-group">
        			<label>Contact Number:</label>
        			<input type="text" name="contact_no" class="form-control" 
                     ng-model="my_profile.user_form.contact_no" 
                     mask="9"
                     restrict="reject"
                     repeat="50"
                     validate="false"
                     placeholder="Contact Number" required>
        		</div>

        		<div class="form-group">
        			<label>Bio <small>(optional)</small>:</label>
        			<textarea 
                name="website_portfolio" 
                class="form-control" 
                rows="3" 
                ng-model="my_profile.user_form.website_portfolio" 
                mask="*"
                restrict="reject" 
                validate="false"
                repeat="50"></textarea>
        		</div>

  	      	<div class="block  text-right">
  	      		<button type="submit" class="btn btn-primary button" >Save</button>
  	      		<button class="btn btn-default button" class="close" data-dismiss="modal">Cancel</button>
  	      	</div>
        	</form>
        </div>
      </div>

    </div>
  </div><!--/modal-->


  <!-- Modal -->
  <div id="change-password-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
        	<form angular-validator-submit="my_profile.submitChangePass()" 
        				novalidate angular-validator
        				name="change_pass_form" 
        				class="margin-bottom-0">
        		<input type="hidden" name="card_id" ng-model="my_profile.change_pass_form.id">	

        		<div class="form-group">
        			<label>Current Password:</label>
        			<input type="password" name="current_password" class="form-control" 
        							ng-model="my_profile.change_pass_form.current_password" 
        							placeholder="******" 
        						  required>
        		</div>

        		<div class="form-group">
        			<label>New Password:</label>
              <!-- <input type="password" name="password" class="form-control" 
                      ng-model="my_profile.change_pass_form.password" 
                      placeholder="******" 
                      ng-pattern="/(?=.{6,})(?=.*[0-9])(?=.*[A-Z])/"
                      invalid-message="'Password must be at least 6 characters.<br/> Must contain at least 1 uppercase alphabetical character.<br/>Must contain at least 1 numeric character'"
                      required> -->
        			<input type="password" name="password" class="form-control" 
        							ng-model="my_profile.change_pass_form.password" 
        							placeholder="******"
                      ng-pattern="/(?=.{8,})/"
                      invalid-message="'Password must be at least 8 characters.'"
        						  required>
        		</div>

        		<div class="form-group">
        			<label>Confirm New Password:</label>
        			<input type="password" name="password_confirmation" class="form-control" 
        							ng-model="my_profile.change_pass_form.password_confirmation" 
        							placeholder="******" 
        							validator="my_profile.change_pass_form.password_confirmation == my_profile.change_pass_form.password"
        							invalid-message="'Password did not match'"
        							required>
        		</div>

  	      	<div class="block  text-right">
  	      		<button type="submit" class="btn btn-primary button" >Save</button>
  	      		<button class="btn btn-default button" class="close" data-dismiss="modal">Cancel</button>
  	      	</div>
        	</form>
        </div>
      </div>

    </div>
  </div><!--/modal-->


</div>