<div class="table-responsive" ng-controller="MyOrdersController as my_orders">
	<div class="row text-center" ng-if="!my_orders.orders">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
  </div>

	<table class="table table-striped" ng-if="my_orders.orders">
		<thead>
			<th>Order No.</th>
			<th>Status</th>
			<th>Purchase Date</th>
			<th class="text-center">No. of Items</th>
			<th class="text-right">Total</th>
		</thead>
		<tbody>
			<tr>
				<td colspan="10" class="text-center" ng-if="my_orders.orders.length <= 0 && my_orders.orders">
					You have no recent orders to display
				</td>
			</tr>
			<tr class="cursor-pointer" ng-repeat="order in my_orders.orders" ng-click="my_orders.showOrderDetails(order, {})">
				<td>{{order.id}}</td>
				<td>{{order.status}}</td>
				<td>{{order.updated_date }} - {{order.updated_time}}</td>
				<td class="text-center">{{order.no_of_items_in_order}}</td>
				<td class="text-right">{{order.total | currency}}</td>
			</tr>
		</tbody>
	</table>



	<!-- Modal -->
	<div id="order-selected-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button ng-if="!payment_methods.submitting_form" type="button" class="close" data-dismiss="modal">&times;</button>
	        <!-- <h4 class="modal-title">Order No. {{my_orders.order_selected.id}}</h4> -->
	      </div>
	      <div class="modal-body">
	      	<div class="row text-center" ng-if="!my_orders.order_selected">
				    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
				  </div>

	      	<div class="row m-0" ng-if="my_orders.order_selected">
	      		
						<div class="row m-0">
							<div class="col-xs-12">
								<h4 class="modal-title"><strong>Order No. {{my_orders.order_selected.id}}</strong></h4>
							</div>
							<hr>
							<div class="col-md-4 mb-10">
								<label><strong>Shipping Details:</strong></label>
								<div class="block"> {{ my_orders.order_selected.user_shipping_detail.first_name }} {{ my_orders.order_selected.user_shipping_detail.last_name }}</div>
				  			<div class="block">{{ my_orders.order_selected.user_shipping_detail.phone_number }}</div>
				  			<div class="block">{{ my_orders.order_selected.user_shipping_detail.city }}</div>
				  			<div class="block">{{ my_orders.order_selected.user_shipping_detail.email }}</div>
				  			<div class="block">{{ my_orders.order_selected.user_shipping_detail.address }}</div>
				  			<div class="block">{{ my_orders.order_selected.user_shipping_detail.city }}, {{ my_orders.order_selected.user_shipping_detail.country }}</div>
							</div>
							<div class="col-md-4 mb-10">
								<div class="row m-0">
									<label class="inline-block"><strong>Purchase Date:</strong></label>
									<span class="inline-block">{{my_orders.order_selected.updated_date}}</span>
								</div>
								<div class="row m-0">
									<label class="inline-block"><strong>Status:</strong></label>
									<span class="inline-block">{{my_orders.order_selected.status}}</span>
								</div>
							</div>
							<div class="col-md-4 mb-10">
								<div class="row m-0">
									<label class="inline-block"><strong>No of Items:</strong></label>
									<span class="inline-block">{{my_orders.order_selected.items.length}}</span>
								</div>
							</div>
						</div>
						<hr>
						<div class="row m-0 max-h-250 overflow-auto">
								<!-- product-item start -->
	                <div class="row m-0 m-b-20" ng-repeat="($idx, product) in my_orders.order_selected.items">
						      	<div class="col-xs-4">
						      		<div class="product-img" style="min-height: 170px;">
						      			<div class="img-con">
										    	<img class="img-responsive" src="{{product.image}}" alt="" style="max-height: 150px;">
										    </div>
										  </div>
						      	</div>
						      	<div class="col-xs-8">
						      		<div class="col-xs-8 p-0">
						      			<strong class="block">{{product.name}}</strong>
						      			<p class="brand-name-2 mb-0">{{product.artist_name}}</p>
						      			<!-- <p class="block"><small><i>{{product.artist_name}}</i></small></p> -->
						      		</div>
						      		<div class="col-xs-4 p-0 text-right">
						      			<strong>{{product.price  || 0 | currency }}</strong>
						      		</div>
						      		<div class="block">
						      			<strong>Quantity:</strong> {{product.quantity}}
						      		</div>
						      		<div class="block">
						      			<strong>Size:</strong> {{product.size}}
						      		</div>
						      		<div class="block">
						      			<strong>Material:</strong> {{product.material}}
						      		</div>
						      		<div class="block">
						      			<strong>Frame:</strong> {{product.frame_type}}
						      		<div class="block">
						      			<strong>Installation:</strong> {{product.installation}} </div>
						      		</div>
						      	</div>
					      	</div>
	            <!-- product-item end -->
						</div>


						<div class="row m-0 text-right">
							<hr>
							<div class="row m-0">
								<div class="col-xs-8">
									<label class="inline-block">Shipping fee:</label>
								</div>
								<div class="col-xs-4">
									<span class="inline-block">{{my_orders.order_selected.shipping_fee | currency}}</span>
								</div>
							</div>

							<div class="row m-0">
								<div class="col-xs-8">
									<label class="inline-block"><strong>Total:</strong></label>
								</div>
								<div class="col-xs-4">
									<span class="inline-block"><strong>{{my_orders.order_selected.total | currency}}</strong></span>
								</div>
							</div>

						</div>

	      	</div>


	      </div>
	    </div>

	  </div>
	</div><!--/modal-->





</div>