<div ng-controller="PaymentMethodsController as payment_methods">
	<div class="row text-center" ng-if="!payment_methods.banks">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
  </div>

  <div class="bg-light-gray row m-0 p-20 text-left"  ng-if="payment_methods.banks.length < 1">
  	There are no payment methods to display
  </div>
	<div class="row m-0">
		<div ng-repeat="($bank_idx, bank) in payment_methods.banks" class="block p-20">
			<div class="col-xs-8 pl-0">
				<span class="block v-align-t-childs ">
					<i class="fa fa-credit-card mr-10" aria-hidden="true"></i> 
					<small class="mr-10">{{bank.brand}}</small>
					<i class="fa fa-circle color-gray mr-5" aria-hidden="true"></i>
					<i class="fa fa-circle color-gray mr-5" aria-hidden="true"></i>
					<i class="fa fa-circle color-gray mr-5" aria-hidden="true"></i>
					<i class="fa fa-circle color-gray mr-10" aria-hidden="true"></i>
					<span>{{bank.last4}}</span>
				</span>

			</div>
			<div class="col-xs-4 pr-0  v-align-t-childs text-right">
				<a href="javascript:void(0)" ng-click="payment_methods.setDefaultBank(bank)"><i class="zmdi zmdi-hc-lg mr-10" ng-class="(bank.is_default == true) ? 'zmdi-check-circle' : 'zmdi-circle-o'"></i></a> 
				<!-- <a href="javascript:void(0)" ng-click="payment_methods.preUpdateBankForm(bank)"><i class="zmdi zmdi-edit zmdi-hc-lg mr-10"></i></a>  -->
				<a href="javascript:void(0)" ng-click="payment_methods.destroyBankItem(bank, $bank_idx)"><i class="zmdi zmdi-close zmdi-hc-lg mr-10"></i></a> 
			</div>
		</div>

		<div class="block text-right">
			<hr>
			<button ng-click="payment_methods.preCreateBankForm()" class="btn btn-primary">Add Payment Method</button>
		</div>
	</div>





	<!-- Modal -->
	<div id="payment-method-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button ng-if="!payment_methods.submitting_form" type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Payment Method</h4>
	      </div>
	      <div class="modal-body">
					<form ng-submit="payment_methods.submitBankForm()" name="bank_form" id="payment-form">
						<div class="form-group">
						  <div class="form-row">
						    <label for="card-element">
						      Credit or debit card
						    </label>
						    <div id="card-element" class="form-control">
						      <!-- a Stripe Element will be inserted here. -->
						    </div>

						    <!-- Used to display form errors -->
						    <div id="card-errors" role="alert"></div>
						  </div>
						</div>



						<p class="text-center pt-10" ng-if="payment_methods.submitting_form">
					    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
					    <!-- <small class="block">Loading please wait...</small> -->
					    Submitting Please wait
					  </p>

					  <div class="block  text-right mt-20" ng-if="!payment_methods.submitting_form">
					  	<button type="submit" class="btn btn-primary">Submit Payment</button>
							<button class="btn btn-default button" class="close" data-dismiss="modal">Cancel</button>
						</div>

					</form>
	      </div>
	    </div>

	  </div>
	</div><!--/modal-->


	<!-- Modal -->
	<!-- <div id="payment-method-modal1" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Payment Method</h4>
	      </div>
	      <div class="modal-body">
	      	<form angular-validator-submit="payment_methods.submitBankForm()" 
	              novalidate angular-validator
	              name="bank_form" class="margin-bottom-0">
	      		<input type="hidden" name="card_id" ng-model="payment_methods.bank_form.card_id">		
		      	<div class="form-group">
		      		<label>Credit Card Number</label>
		      		<input type="text" class="form-control" ng-model="payment_methods.bank_form.number" name="number" placeholder="Input Credit Card Number" required>
		      	</div>
		      	<div class="col-xs-12 col-md-6 pl-0">
		      		<label>Expiry Date</label>
		      		<div class="form-group ">
			      		<div class="col-xs-6 pl-0">
			      			<input type="text" class="form-control" ng-model="payment_methods.bank_form.exp_month" name="exp_month" placeholder="MM" required>
			      		</div>
			      		<div class="col-xs-6 pr-0">
			      			<input type="text" class="form-control" ng-model="payment_methods.bank_form.exp_year" name="exp_year" placeholder="YY" required>
			      		</div>
		      		</div>
		      	</div>
		      	<div class="col-xs-12 col-md-6 pr-0">
		      		<div class="form-group">
		      			<label>CVC</label>
		      			<input type="text" class="form-control" ng-model="payment_methods.bank_form.cvc" name="cvv" placeholder="000000" required>
		      		</div>
		      	</div>
		      	<div class="block">
		      		<label>
		      			<input type="checkbox" ng-model="payment_methods.bank_form.is_default" name="is_default"> Set as Default
		      		</label>
		      	</div>

		      	<div class="block  text-right">
		      		<button type="submit" class="btn btn-primary button" >Save</button>
		      		<button class="btn btn-default button" class="close" data-dismiss="modal">Cancel</button>
		      	</div>
	      	</form>




	      </div>
	    </div>

	  </div>
	</div> --><!--/modal-->



</div>