<div ng-controller="ShippingDetailsController as shipping_details">  
  <div class="row text-center" ng-if="!shipping_details.shipping_details">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
  </div>
  
  <div class="bg-light-gray row m-0 p-20 text-left"  ng-if="shipping_details.shipping_details.length < 1">
    There are no shipping details to display
  </div>

  <div class="row m-0">
  	<div ng-repeat="shipping_detail in shipping_details.shipping_details" class="block p-20 mb-10">

  		<div class="col-xs-8 pl-0">
  			<div class="block"> <strong>{{ shipping_detail.first_name }} {{ shipping_detail.last_name }}</strong> </div>
  			<div class="block">{{ shipping_detail.phone_number }}</div>
  			<!-- <div class="block">{{ shipping_detail.city }}</div> -->
  			<!-- <div class="block">{{ shipping_detail.email }}</div> -->
  			<div class="block">{{ shipping_detail.address }}</div>
  			<div class="block">{{ shipping_detail.postal_code }}</div>
        <div class="block">{{ shipping_detail.country }}</div>

  		</div>
  		<div class="col-xs-4 pr-0 text-right">
  			<a href="#" ng-click="shipping_details.setDefaultShipping(shipping_detail)"><i class="zmdi zmdi-hc-lg mr-10" ng-class="(shipping_detail.is_default == true) ? 'zmdi-check-circle' : 'zmdi-circle-o'"></i></a> 
  			<a href="#" ng-click="shipping_details.preUpdateShippingDetails(shipping_detail)"><i class="zmdi zmdi-edit zmdi-hc-lg mr-10"></i></a> 
  			<a href="#" ng-click="shipping_details.destroyShippingDetails(shipping_detail, $bank_idx)"><i class="zmdi zmdi-close zmdi-hc-lg mr-10"></i></a> 
  		</div>
  	</div>

  	<div class="block text-right">
      <hr>
  		<button ng-click="shipping_details.preCreateShippingDetails()" class="btn btn-primary">Add Shipping Details</button>
  	</div>
  </div>




  <!-- Modal -->
  <div id="shipping-details-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Shipping Details </h4>
        </div>
        <div class="modal-body">
          <form angular-validator-submit="shipping_details.submitShippingForm()" 
                novalidate angular-validator
                name="sd_form" class="margin-bottom-0">
        	<!-- <form action="javascript:void(0)" ng-submit="shipping_details.submitShippingForm()" name="sd_form" class="margin-bottom-0"> -->
        		<input type="hidden" name="card_id" value="1" ng-model="shipping_details.sd_form.card_id">	

        		<div class="form-group col-xs-12 col-md-6 pl-0">
        			<label>First Name:</label>
        			<input type="text" name="first_name" class="form-control" ng-model="shipping_details.sd_form.first_name" placeholder="Input First Name" required>
        		</div>
        		<div class="form-group col-xs-12 col-md-6 pr-0">
        			<label>Last Name:</label>
        			<input type="text" name="last_name" class="form-control" ng-model="shipping_details.sd_form.last_name" placeholder="Input Last Name" required>
        		</div>
        		<div class="form-group">
        			<label>Contact Number:</label>
        			<input type="text" 
                      name="contact_number" 
                      class="form-control" 
                      placeholder="Input Contact Number"
                      ng-model="shipping_details.sd_form.phone_number" 
                      numbers-only="numbers-only"
                      required>
        		</div>
        		<!-- <div class="form-group">
        			<label>Email:</label>
        			<input type="email" name="email" class="form-control" ng-model="shipping_details.sd_form.email" placeholder="example@email.com" required>
        		</div> -->
            <div class="form-group">
              <label>Address:</label>
              <textarea rows="2" name="address" class="form-control" ng-model="shipping_details.sd_form.address" placeholder="Input Address" required></textarea>
            </div>
        		<!-- <div class="form-group">
        			<label>City:</label>
        			<textarea rows="2" name="city" class="form-control" ng-model="shipping_details.sd_form.city" placeholder="Address" required></textarea>
        		</div> -->

        		<div class="form-group">
        			<label>Postal Code:</label>
        			<input type="text" name="postal_code" class="form-control" 
                   numbers-only="numbers-only"
                   validate="false"
                   ng-model="shipping_details.sd_form.postal_code"
                   required="required" 
                   placeholder="Input Postal Code">
        		</div>


        		<div class="form-group">
        			<label>Country:</label>
        			<div class="select-wrapper">
        				<country-select 
                  name="country" 
                  ng-model="shipping_details.sd_form.country" 
                  cs-priorities="SG" 
                  cs-required
                  required-message="'Please select country.'"">
                </country-select>
        			</div>
        		</div>


        		<div class="form-group">
        			<label>
        				<input type="checkbox" name="is_default" ng-model="shipping_details.sd_form.is_default" name=""> 
        				Set as default
        			</label>
        		</div>

  	      	<div class="block  text-right">
  	      		<button type="submit" class="btn btn-primary button" >Save</button>
  	      		<button class="btn btn-default button" class="close" data-dismiss="modal">Cancel</button>
  	      	</div>
        	</form>
        </div>
      </div>

    </div>
  </div><!--/modal-->


</div>