<div class="row m-t-100">
  <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
    <%= form_for(@user, as: :user, url: session_path(:user), html: { autocomplete: :off } ) do |f| %>
      <div class="row">
        <div class="sign-in-label form-group">
          <h3> <strong>Sign In</strong> </h3>
        </div>
      </div>
      <div class="row">
        <div class="form-group error">
          <%= render "shared/flash_not_popup" %>
        </div>
      </div>
    <!--     <div class="row">
        <%#= link_to "SIGN IN WITH FACEBOOK", new_session_path(@user),
          class: "btn btn-primary form-control like-button" %>
      </div>
      <div class="row">
        <div class="col-md-4">
          <hr>
        </div>
        <div class="col-md-4">
          <h4 style="color:gray;"> OR </h4>
        </div>
        <div class="col-md-4">
          <hr>
        </div>
      </div> -->
      <div class="row">
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control
            like-button", placeholder: "Email"%>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <%= f.password_field :password, class: "form-control like-button",
            placeholder: "Password", autocomplete: "new-password" %>
          
        </div>
        <div class="form-group">
          <%= link_to "Forgot your password?", new_password_path(:user), id: "forgot-password-link",
            class: "pull-right "%>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <%= f.submit "SIGN IN", class: "btn btn-secondary form-control btn-primary m-t-10" %>
        </div>
      </div>
      <div class="row">
        <p> Don't have an account yet? <%= link_to " Sign up here.", new_registration_path(:user),
        class: "" %> </p>
      </div>
      <div class="row m-0">
        <p>By signing in. I agree to Artzibit's <br> <a href="<%= terms_of_service_path %>">Terms of Service</a>. View <a href="<%= faq_path %>">FAQs</a> here</p>
      </div>
    <% end %>
  </div>
</div>
