<div class="page-mask-dynamic" id="page-mask_<%= artwork.id %>" style="display:none;"
  onclick= "this.style.display='none';">
  <div class="artwork-detail">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="artwork-dtl-heading" align="left">
            <h3><%= artwork.name %> (<%= artwork.featured_artwork_image.orientation %>) </h3>
        </div>
      </div>
      <div class="row">
        <div class="artwork-dtl-status">
          <div class="artwork-dtl-info col-md-6" align="left">
            <h5><b>STATUS:&nbsp;</b>
              <% unless artwork.right_aspect_ratio? %>
                Need to crop
              <% else %>
                Approved
              <% end %>
            </h5>
          </div>
          <div class="artwork-dtl-info col-md-6" align="right">
            <h5><i> Submitted: &nbsp; <%= artwork.created_at.strftime("%d-%b-%Y") %> </i></h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="artwork-dtl-image">
          <%= image_tag image_url(artwork.featured_artwork_image.image.url(:medium)),
          onclick: "document.getElementById('page-mask_#{artwork.id}').style.display='block';"
          %>
        </div>
      </div>
      <div class="row">
        <div class="artwork-dtl-desc" align="left">
          DESCRIPTION<h5><p class="artwork_desc"><%= artwork.description %></p></h5>
        </div>
      </div>
      <hr/>
      <div class="row">
        <span class="pull-left"><b>GENRE</b></span>
        <h5>
          <span class="cat_name pull-right"> <%= ArtworkStyle.find_by(id: artwork.artwork_style_id).try(:name) %> </span>
        </h5>
      </div>
      <hr/>
      <div class="row">
        <span class="pull-left"><b>PRICE</b></span>
        <h5>
        <span class="cat_name pull-right"> $ <%= artwork.featured_price %> </span>
        </h5>
      </div>
      <br/>
    </div>
  </div>
</div>