<% unless @square_fixed_sizes.blank? %>
  <div class="form-group" id="square_sizes" style="display:
    <%= @orientation.blank? ? 'none' : (@orientation == 'square') ? 'block' : 'none' %> ;">
    <div class="col-md-12">
      <table width="100%" border=0>
        <tr>
          <th width="60%">PRINT SIZE</tH>
          <th width="20%" style="text-align:center;">YOUR PROFIT</tH>
          <th width="20%" style="text-align:center;">RETAIL</tH>
        </tr>
        <% @square_fixed_sizes.each_with_index do |s,index| %>
        <tr>
          <td width="60%" style="padding:5px;"> <%= s.name_with_no %> </td>
          <td width="20%" style="padding:5px;" align="center">
            <input type="text" value="<%= s.current_price %>" id="square_base_<%= index %>" hidden>
            <input type="text" class="square_fields like-button form-control" value="<%= s.current_price %>" style="text-align:center;background-color:white;" disabled=true id="square_<%= index %>">
          </td>
          <td width="20%" style="padding:5px;" align="center">
            <input type="text" class="like-button form-control" value="<%= s.current_price %>" style="text-align:center;background-color:white;" id="square_retail_<%= index %>" disabled=true>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
<% unless @landscape_fixed_sizes.blank? %>
  <div class="form-group" id="landscape_sizes" style="display:
    <%= @orientation.blank? ? 'none' : (@orientation == 'landscape') ? 'block' : 'none' %> ;">
    <div class="col-md-12">
      <table width="100%" border=0>
        <tr>
          <th width="60%">PRINT SIZE</td>
          <th width="20%" align="center">YOUR PROFIT</td>
          <th width="20%" align="center">RETAIL</td>
        </tr>
        <% @landscape_fixed_sizes.each_with_index do |s, index| %>
        <tr>
          <td width="60%" style="padding:5px;"> <%= s.name_with_no %> </td>
          <td width="20%" style="padding:5px;" align="center">
            <input type="text" value="<%= s.current_price %>" id="landscape_base_<%= index %>" hidden>
            <input type="text" class="landscape_fields like-button form-control" value="<%= s.current_price %>" style="text-align:center;background-color:white;" disabled=true id="landscape_<%= index %>">
          </td>
          <td width="20%" style="padding:5px;" align="center">
            <input type="text" class="like-button form-control" value="<%= s.current_price %>" style="text-align:center;background-color:white;" id="landscape_retail_<%= index %>" disabled=true>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
<% unless @portrait_fixed_sizes.blank? %>
  <div class="form-group" id="portrait_sizes" style="display:
    <%= @orientation.blank? ? 'none' : (@orientation == 'portrait') ? 'block' : 'none' %> ;">
    <div class="col-md-12">
      <table width="100%" border=0>
        <tr>
          <th width="60%">PRINT SIZE</td>
          <th width="20%" align="center">YOUR PROFIT</td>
          <th width="20%" align="center">RETAIL</td>
        </tr>
        <% @portrait_fixed_sizes.each_with_index do |s, index| %>
        <tr>
          <td width="60%" style="padding:5px;"> <%= s.name_with_no %> </td>
          <td width="20%" style="padding:5px;" align="center">
            <input type="text" value="<%= s.current_price %>" id="portrait_base_<%= index %>" hidden>
            <input type="text" class="portrait_fields like-button form-control" value="<%= s.current_price %>" style="text-align:center;background-color:white;" disabled=true id="portrait_<%= index %>">
          </td>
          <td width="20%" style="padding:5px;" align="center">
            <input type="text" class="like-button form-control" value="<%= s.current_price %>" style="text-align:center;background-color:white;" id="portrait_retail_<%= index %>" disabled=true>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>