<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="edit-artwork-label" align="center">
      <h4>
        EDIT ARTWORK
      </h4>
    </div>
  </div>
</div>
<%= form_for(@artwork) do |f| %>
<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <div class="row">
      <%= f.fields_for :artwork_images, @artwork.artwork_images do |a| -%>
        <div class="edit-artwork-image">
          <!-- <div class="form-image"> -->
            <%= image_tag image_url(@artwork.featured_artwork_image.image.url(:medium)),
              class: "img-thumbnail"%>
              <br/>
              <br/>
            <div class="change-image">
              <label for="artwork_artwork_images_attributes_0_image"
                class="btn btn-primary btn-artist-type like-button artwork_upload">
                CHANGE IMAGE
              </label>
              <br/>
              <span class="image-filename"></span>
              <%= a.file_field :image, onchange: "$(this).parent().parent().find('.image-filename').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
            </div>
          <!-- </div> -->
        </div>
      <% end -%>
    </div>
  </div>
  <div class="col-md-7 edit-artwork-detail">
    <div class="col-md-10">
      <% if @artwork.errors.any? %>
        <%= custom_error_messages @artwork %>
      <% end %>
      <div class="row">
        <div class="form-group">
          <%= f.text_field :name, class: "form-control like-button", placeholder: "Title" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control like-button", placeholder: "Description", rows: 6 %>
        </div>
        <div class="form-group">
          <%= f.select(:category_id, Category.all.map{|u|[u.name, u.id]}, {}, {class: "form-control like-button", prompt: "Category"}) %>
        </div>
        <div class="form-group">
          <%= f.select(:artwork_style_id, ArtworkStyle.all.map{|u|[u.name, u.id]}, {}, {class: "form-control", prompt: "Style"}) %>
        </div>
      </div>
      <div class="row">
        <br/><br/><br/><br/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <div class="text-center">
      <%= f.hidden_field :id, value: "#{f.object.id}" %>
      <%= f.submit "SUBMIT ARTWORK", class: "btn btn-primary btn-lg like-button btn-artist-type" %>
    </div>
  </div>
</div>
<% end %>