<script type="text/javascript">
  var ARTWORK_ID = '<%= params[:id] %>'
</script>
<div class="col-xs-12 mb-40" ng-controller="ArtworkEditController as product">
  <h4>Update Artwork</h4>
  <p class="text-center pt-10" ng-if="!product.artwork">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
    <!-- <small class="block">Loading please wait...</small> -->
  </p>
  <form ng-if="product.artwork"
        angular-validator-submit="product.submitUpdateForm()"
        focus-on-error
        novalidate 
        angular-validator
        name="edit_form" class="margin-bottom-0">
    <fieldset ng-disabled="product.edit_form_submitting">
      <div class="col-xs-12 col-md-6 pl-0">
          <div class="form-group">
            <label>Title *</label>
            <input ng-model="product.edit_params.title" type="text" name="title" class="form-control" name="Tttle" placeholder="Input Artwork Title" required="">
          </div>

          <div class="form-group">
            <label>Description </label>
            <textarea 
              ng-model="product.edit_params.description" class="form-control" 
              name="description" row="6" 
              placeholder="Input Artwork Description" 
              mask="*"
              restrict="reject" 
              validate="false"
              repeat="10  "
              required=""></textarea>
          </div>

          <div class="form-group">
            <label>Tags <small>(seperaed by commna, minimum.3 tags, maximum 10 tags)</small> </label>
            <input type="text" class="form-control" name="tags" ng-model="product.edit_params.tags" required placeholder="Input Tags">
            <!-- <tags-input ng-model="product.edit_params.tags" min-length="1" min-tags="3" max-tags="10" tag-class="form-control" name="tags" placeholder="Input Artwork Tags"></tags-input> -->
          </div>

          <div class="form-group">
            <label>Upload To</label>
            <label class="block">
              <input type="radio" ng-model="product.edit_params.privacy" ng-checked="true" value="public" required=""> Open Marketplace
            </label>
            <label class="block">
              <input type="radio" ng-model="product.edit_params.privacy" value="private" required=""> Private Album
            </label>
          </div>
          <br>

          <p>Artworks at the <b>Open Marketplace</b> are subject to approval by Artzibit before being posted on the marketplace and will be available for purchase by anyone who has the appl</p>

          <p>Artworks in the <b>Private Album</b> will be uploaded immediately and will onlny be accessible to you via the unique artwork link that you can send to your friends and family</p>

          <hr>


          <div class="form-group">
            <label>Mark Up ($)</label>
            <input ng-model="product.edit_params.price"  type="text" class="form-control" name="mark_up" placeholder="Input Mark Up Amount" ui-money-mask required="">
            <p>This is what you earn from each print sold. For private/personal prints, input zero(0) to purchase prints at the base price</p>
          </div>

          <div class="col-xs-12 p-0 mb-20">
            <p><b>Sample Computation:</b> Canvas print small 30cm x 30cm</p>
            <div class="p-0 col-xs-6 col-md-2">
              <span class="block">Best Price:</span>
              <span class="block">(+) Mark Up:</span>
              <span class="block">Retail Price:</span>
            </div>
            <div class="p-0 col-xs-6 text-right">
              <span class="block">$100.00</span>
              <span class="block">(+)$30.00</span>
              <span class="block">(+)$330.00</span>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <label>
              <input ng-model="product.edit_params.accept" type="checkbox" name="accept"> 
              <span>I certify that the artwork is original, is mine, and that I have full authority  to grant the permission herein.</span>
            </label>
          </div>

          <button type="submit" class="btn-primary btn w-100" ng-disabled="!product.edit_params.accept"> Save </button>
       

      </div>

      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label class="block">Image *</label>
          <!-- <input ng-model="product.edit_params.file" type="file" name="file">
          <a class="button button-black mb-20 inline-block" href="#"><span>Upload </span> </a> -->
          <div class="block">
            <a class="button button-black inline-block" href="javascript:void(0)"
                ngf-select="product.preUploadImage($file)"
                ngf-accept="'image/*'"
                ngf-max-files="1"
                id="artwork-image">
              <span>Upload </span> 
            </a>
           <!--  <label class="inline-block valign-t has-error" ng-show="edit_form.$submitted && !product.edit_params.image">Please provide a valid image</label> -->
            <span class="inline-block valign-t" >{{product.selected_image.name}}</span>
            
          </div>

        </div>

        <div class="product-img">
          <img ng-src="{{ product.artwork.image }}" class="img-responsive">
        </div>

      </div>

    </fieldset>
  </form>

</div>