<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page-label" align="center">
      <h3>
        WELCOME, <%= current_user.try(:first_name).capitalize %>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
    <div class="index-menu-div text-center" align="center">
        <ul class="nav nav-pills index-menu scopes table_tools_segmented_control">
          <li role="presentation" class="<%= params[:scope].blank? ? 'active' : '' %>  index-menu-li">
            <%= link_to "All", artworks_path, class: "index-menu-all" %>
          </li>
          <li role="presentation" class="<%= params[:scope] == 'public' ? 'active' : '' %>  index-menu-li">
            <%= link_to "Public", artworks_path(scope: "public"), class: "index-menu-public" %>
          <li role="presentation" class="<%= params[:scope] == 'private' ? 'active' : '' %>  index-menu-li">
            <%= link_to "Private", artworks_path(scope: "private"), class: "index-menu-private" %>
          </li>
        </ul>
    </div>
  </div>
</div>
<% unless @all_artworks.blank? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10
      col-xs-offset-1">
      <div class="row">
        <% @artworks.each_with_index do |artwork, index| %>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 artwork-list">
            <div class= "artwork-box">
              <% if artwork.featured_artwork_image.image.processing? %>
                <div class="artwork-dtl-image-square">
              <% else %>
                <div class="artwork-dtl-image-<%= artwork.featured_artwork_image.orientation %>">
              <% end %>
              <% if artwork.featured_artwork_image.blank?%>
                <% artwork_image = "artzibit-logo.png" %>
              <% else %>
                <% artwork_image = artwork.featured_artwork_image.image.url(:medium) %>
              <% end %>
              <%= image_tag image_url(artwork_image), onclick: "document.getElementById('page-mask_#{artwork.id}').style.display='block';",
                class: "img-thumbnail #{'to-crop' unless artwork.right_aspect_ratio?}"%>
              <br/>
              </div>
            </div>
            <div class="artwork-title truncate">
              <p><h5> <%= artwork.name %> (<%= artwork.featured_artwork_image.orientation %>) </h5></p>
            </div>
            <div class="artwork-status">
              <% unless artwork.right_aspect_ratio? %>
                <h5> Need to crop </h5>
              <% else %>
                <h5> Approved </h5>
              <% end %>
            </div>
            <div class="artwork-actions">
              <hr class="margin-less">
              <div class="row">
                <div class="col-md-8">
                  <p><i>Submitted</i>: <%= artwork.created_at.strftime("%d-%b-%Y") %></p>
                </div>
                <div class="col-md-4 gray" style="text-align:right;">
                  <%= link_to edit_artwork_path(artwork), onclick: (artwork.
                      featured_artwork_image.image.processing? ?
                      "alert('Your image is still processing. Please try again later.'); return false" : "return true") do %>
                    <span class="glyphicon glyphicon-edit"> </span >
                  <% end %>
                  <%= link_to artwork_path(artwork), method: :delete,
                    data: {:confirm => "Are you sure you want to delete"} do %>
                    <span class="glyphicon glyphicon-trash"> </span >
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% @artworks.each do |artwork| %>
    <%= render "artwork_show", artwork: artwork %>
  <% end %>
<% else %>
  <div class="row" align="center">
    <div class="col-md-4 col-md-offset-4">
      <p>Seems like you haven't uploaded anything yet...</p>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-md-2 col-md-offset-5">
      <%= link_to "START SELLING ART", new_artwork_path, style: "color:#{@color};
      text-decoration:none;", class: "btn btn-default form-control
      like-button blue-green" %>
    </div>
  </div>
<% end %>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<script type="text/javascript">
  function ConfirmDelete() {
    alert(confirm('Are you sure you want to delete this Artwork?'));
  }
</script>