<div class="col-xs-12" ng-controller="ArtworkNewController as product_new">
  <h4>Upload Artwork</h4>
  <form angular-validator-submit="product_new.submitNewForm()"
        focus-on-error
        novalidate 
        angular-validator
        name="new_form" class="margin-bottom-0">
    
    <fieldset ng-disabled="product_new.new_form_submitting" class="m-b-50">
      <div class="col-xs-12 col-md-6 pl-0">
          <div class="form-group">
            <label>Title *</label>
            <input ng-model="product_new.artwork.title" type="text" name="title" class="form-control" name="Tttle" placeholder="Input Artwork Title" required="">
          </div>

          <div class="form-group">
            <label>Description </label>
            <textarea 
              ng-model="product_new.artwork.description" class="form-control" 
              name="description" row="6" 
              placeholder="Input Artwork Description" 
              mask="*"
              restrict="reject" 
              validate="false"
              repeat="500"
              required=""></textarea>
          </div>

          <div class="form-group">
            <label>Category </label>
            <!-- <div class="select-wrapper"> -->
              <select ng-model="product_new.artwork.category_id" ng-options="item.id as item.name for item in product_new.categories" class="normal-select" name="category" required=""></select>
            <!-- </div> -->
          </div>

          <!-- <div class="form-group">
            <label>Style </label>
            <div class="select-wrapper">
              <select ng-options="item.id as item.name for item in product_new.artwork_styles" ng-model="new_form.style" class="form-control" name="artwork_style"></select>
            </div>
          </div> -->

          <div class="form-group">
            <label>Tags <small>(seperaed by commna, minimum.3 tags, maximum 10 tags)</small> </label>
            <input type="text" class="form-control" name="tags" ng-model="product_new.artwork.tags" required placeholder="Input Tags">
            <!-- <tags-input ng-model="product_new.artwork.tags" min-length="1" min-tags="3" max-tags="10" tag-class="form-control" name="tags" placeholder="Input Artwork Tags"></tags-input> -->
          </div>

          <div class="form-group">
            <label>Upload To - {{product_new.artwork.privacy}}</label>
            <label class="block">
              <input type="radio" ng-model="product_new.artwork.privacy" ng-checked="true" value="public" required=""> Open Marketplace
            </label>
            <label class="block">
              <input type="radio" ng-model="product_new.artwork.privacy" value="private" required=""> Private Album
            </label>
          </div>
          <br>

          <p>Artworks at the <b>Open Marketplace</b> are subject to approval by Artzibit before being posted on the marketplace and will be available for purchase by anyone who has the appl</p>

          <p>Artworks in the <b>Private Album</b> will be uploaded immediately and will onlny be accessible to you via the unique artwork link that you can send to your friends and family</p>

          <hr>


          <div class="form-group">
            <label>Mark Up ($)</label>
            <input ng-model="product_new.artwork.price"  type="text" class="form-control" name="mark_up" placeholder="Input Mark Up Amount" ui-money-mask required="">
            <p>This is what you earn from each print sold. For private/personal prints, input zero(0) to purchase prints at the base price</p>
          </div>

          <div class="col-xs-12 p-0 mb-20">
            <p><b>Sample Computation:</b> Canvas print small 30cm x 30cm</p>
            <div class="p-0 col-xs-6 col-md-2">
              <span class="block">Best Price:</span>
              <span class="block">(+) Mark Up:</span>
              <span class="block">Retail Price:</span>
            </div>
            <div class="p-0 col-xs-6 text-right">
              <span class="block">$100.00</span>
              <span class="block">(+)$30.00</span>
              <span class="block">(+)$330.00</span>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <label>
              <input ng-model="product_new.artwork.accept" type="checkbox" name="accept" required=""> 
              <span>I certify that the artwork is original, is mine, and that I have full authority  to grant the permission herein.</span>
            </label>
          </div>

          <button type="submit" class="w-100 btn-primary btn" ng-disabled="!product_new.artwork.accept"> Create </button>
       

      </div>

      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label class="block">Image *</label>
          <!-- <input ng-model="product_new.artwork.file" type="file" name="file">
          <a class="button button-black mb-20 inline-block" href="#"><span>Upload </span> </a> -->
          <div class="block">
            <a class="button button-black inline-block" href="javascript:void(0)"
                ngf-select="product_new.preUploadImage($file)"
                ngf-accept="'image/*'"
                ngf-max-files="1"
                id="artwork-image"
                required>
              <span>Upload </span> 
            </a>
            <label class="inline-block valign-t has-error" ng-show="new_form.$submitted && !product_new.artwork.image">Please provide a valid image</label>
            <span class="inline-block valign-t" >{{product_new.selected_image.name}}</span>
          </div>

        </div>
      </div>

    </fieldset>
  </form>

</div>