<style>
   body {
    font-size: 10px;
   }
  .table > tbody > tr > td {
    word-wrap: break-word;
  }
  table > thead > tr > th {
    text-align: center;
    border: 1px solid black !important;
  }
  table > tbody > tr {
    border-left: 1px solid black !important;
  }
  table > tbody > tr > td {
    border-bottom: 1px solid black !important;
  }
  .table > tbody > tr > td.total,
  .table > thead > tr > th.total {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
</style>

<% shipping_detail = resource.user_shipping_detail%>
<table class="table table-pdf" style="height:85%;width:80%;table-layout: fixed; position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;">
  <thead>
    <tr style="height: 10%;">
      <th width="10%">Code</th>
      <th width="50%">Description</th>
      <th width="10%">Sell</th>
      <th width="10%">Qty</th>
      <th width="10%">BO</th>
      <th width="20%" class="total">Total</th>
    </tr>
  </thead>
  <tbody>
    <% resource.cart.cart_items.each do |item| %>
    <tr style="height: 75%;">
      <td><%= item.artwork.id %></td>
      <td>
          <ul>
            <li>
              <b> Name:</b> <%= item.artwork.name %> <br>
              <b> Size:</b> <%= item.size %> <br>
              <b> Material:</b> Smooth Fine Art Paper <br>
              <b> Installation:</b> <%= item.installation %> <br>
            </li>
          </ul>
      </td>
      <td><%= item.product_amount %></td>
      <td><%= item.quantity%></td>
      <td></td>
      <td class="total"><%= item.total_product_amount %></td>
    </tr>
    <% end %>
    <tr style="height: 5%;">
      <td colspan="5" style="text-align: right";> <b> Installation Charge </b> </td>
      <td class="total"><%= resource.cart.installation_fees %></td>
    </tr>
    <tr style="height: 5%;">
      <td colspan="5" style="text-align: right";> <b> Delivery Charge </b> </td>
      <td class="total"><%= resource.cart.delivery_charge_amount %></td>
    </tr>
    <tr style="height: 5%;">
      <td colspan="5" style="text-align: right";> <b> TOTAL </b> </td>
      <td class="total"><%= resource.cart.total_price %></td>
    </tr>
  </tbody>
</table>