<div class="col-md-8 col-md-offset-1">
  <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10
    col-xs-offset-2">
    <div class="requirements">
      <div class="row">
        <div class="requirement-header">
          <h4> FILE REQUIREMENTS: </h4>
        </div>
        <div class="requirement-body">
          <ul>
            <li> High Res JPEG files </li>
            <li> RGB color mode</li>
            <li> At least 2500px at the smallest side </li>
            <li> Image resolution at 300dpi </li>
            <li> File size should not exceed 75mb</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="requirement-header">
          <h4> THINGS TO REMEMBER: </h4>
        </div>
        <div class="requirement-body">
          <ul>
            <li> Each artwork will undergo an approval process from the Artzibit curators. This usually takes 2 – 3 days. </li>
            <li> Only one image upload is allowed for each artwork. If your image is still in pending status, you can still change images but this will reset the approval process.</li>
            <li> Artwork ratio should be 1:1 for square images or 3:2 for rectangle images.</li>
            <li> Try to keep important details away from the borders of the image. </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>