<% flash.each do |key, value| %>
  <% unless key == "notice" %>
    <div id="page-mask" %>
    <%= content_tag :div, value, id: "popup_#{key}", class: "col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" do %>
      <span class="close close-flash"> <%= image_tag "close.png", onclick: "closeButton();" %></span>
      <span> <%= flash["#{key}"]%> </span>
    <% end %>
    </div>
  <% end %>
<% end %>