<div class="col-xs-12 footer mt-40">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-4 p-0 ta-center-on-sm m-b-10">
				&copy; 2017 Artzibit
			</div>
			<div class="col-md-8 p-0  text-right ta-center-on-sm m-b-10">
				<a href="<%= about_path %>" class="menu-item">About Artzibit</a>
				<a href="<%= terms_of_service_path %>" class="menu-item">Terms of Service</a>
				<a href="<%= faq_path %>" class="menu-item">FAQs</a>
				<a href="<%= contact_path %>" class="menu-item">Contact</a>
			</div>
		</div>
	</div>
</div>