<!-- START HEADER AREA -->
<header class="header-area header-wrapper" ng-controller="HeaderController as header">
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area bg-white">
        <div class="container-fluid">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="logo">
                            <%= link_to root_path do %>
                                <%= image_tag "black_logo.png", alt: "Artzibit" , class: "img-responsive center-block" %>
                            <% end %>
                        </div>
                    </div>
                    <!-- primary-menu -->
                    <div class="col-md-4 col-sm-12">
                      <form action="<%= products_path %>">
                        <div class="input-group search-input">
                          <input type="text" name="keyword" class="form-control" placeholder="Search" ng-model="header.keyword">
                          <span class="input-group-btn">
                            <button ng-disabled="!header.keyword" type="submit" class="btn-sumbmit btn btn-default" type="button"><i class="zmdi zmdi-search zmdi-hc-lg"></i></button>
                          </span>
                        </div><!-- /input-group -->
                      </form>
                    </div>
                    <div class="col-md-6 hidden-sm hidden-xs">
                        

                        <nav id="primary-menu f-right">
                          <ul class="main-menu text-right">

                              <li>
                                  <a href="javascript:void(0)">Browse Artwork</a>
                                  <ul class="dropdwn">
                                    <li ng-repeat="item in categories.values"><a href="<%= products_path %>?category_ids={{item.id}}">{{item.name}}</a></li>
                                  </ul>
                              </li>
                              <% if current_user.blank? %>
                              <li>
                                <%= link_to "Sign Up", new_registration_path(:user), class: "#{navbar_white_link_active(controller_name, action_name,
                                'sign_up')}" %>
                              </li>
                              <li>
                                <%= link_to "Sign In", new_session_path(:user), class: "#{navbar_white_link_active(controller_name, action_name, 'sign_in')}" %>
                              </li>
                              <% else %>

                              <li>
                                  
                                  <a href="#" class="inline-block">
                                    <span class="truncate inline-block valign-m name"> <%= current_user['first_name'] %> <%= current_user['last_name'] %> </span>
                                    <span class="caret inline-block  valign-m" style= "color:<%=@color%>;"></span>
                                  </a>
                                  <ul class="dropdwn">
                                    <li>
                                      <%= link_to profile_path, style: "color:#{@color};" do %>
                                        My Profile
                                      <% end %>
                                    </li>
                                    <li>
                                      <%= link_to new_artwork_path, style: "color:#{@color};" do %>
                                        Upload Artwork
                                      <% end %>
                                    </li>
                                    <li>
                                      <%= link_to destroy_user_session_path, method: "delete", style: "color:#{@color};" do %>
                                        Sign Out
                                      <% end %>
                                    </li>
                                  </ul>
                                  <div class="initial ml-5">
                                      <span class="text"><%= current_user.try(:first_name) ? current_user.first_name[0] : ''  %><%= current_user.try(:last_name) ? current_user.last_name[0] : ''  %></span>
                                  </div>
                              </li>
                              <% end %>
                              
                              <li  class="total-cart-show">
                                  <a href="javascript:void(0)">
                                      <i class="zmdi zmdi-shopping-cart zmdi-hc-lg cart-toggler"></i>
                                  </a>

                                  <div class="total-cart-in p-0">
                                      <ul class="cart-container">
                                          <div class="block text-center" ng-if="!cart_items">
                                            <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
                                          </div>
                                          <li ng-if="cart_items.items.length < 1 || (!cart_items.items && cart_items)">
                                              <div class="top-cart-inner your-cart">
                                                  <p>Looks like you have nothing here</p>
                                                  <p>Add artwork to your cart and we'll take care of everything when you check out</p>
                                                  <a href="<%= products_path %>" class="button button-black text-center w-100" tabindex="-1">
                                                      <span class="text-uppercase w-100">Start Shopping</span>
                                                  </a>
                                              </div>
                                          </li>
                                          <li ng-if="cart_items.items.length > 0">
                                              <div class="top-cart-inner your-cart">
                                                  <h5 class="text-capitalize">Your Cart</h5>
                                              </div>
                                          </li>
                                          <li> 
                                            <!-- 
                                            <div class="block text-center" ng-if="cart_items.items.length < 1 || (!cart_items.items && cart_items)">
                                              <p class="pt-10">No items found here</p>
                                            </div> -->
                                              <div class="total-cart-pro" ng-if="cart_items.items.length > 0">
                                                  <!-- single-cart -->
                                                  <div class="single-cart clearfix" ng-repeat="item in cart_items.items">
                                                      <div class="cart-img col-xs-4 text-left">
                                                              <img ng-src="{{item.image}}" class="img-responsive">
                                                      </div>
                                                      <div class="cart-info col-xs-8 text-right">
                                                        <strong class="block">{{item.name}}</strong>
                                                        <small class="block"><i>{{item.artist_name}}</i></small>
                                                        <small class="block">Quantity: {{item.quantity}}</small>
                                                          

                                                          <p>
                                                              {{item.price  || 0 | currency}}
                                                          </p>
                                                      </div>
                                                  </div>
                                                  <!-- single-cart -->
                                              </div>
                                          </li>
                                          <li ng-if="cart_items.items.length > 0">
                                            <div class="block item-details-block">
                                              <div class="col-xs-6 text-left"><strong>Shipping Fee</strong></div>
                                              <div class="col-xs-6 p-0 text-right">{{cart_items.shipping_fee || 0  || 0 | currency }}</div>
                                            </div>
                                          </li>
                                          <li ng-if="cart_items.items.length > 0">
                                            <div class="block item-details-block">
                                              <div class="col-xs-6 text-left"><strong>Total</strong></div>
                                              <div class="col-xs-6 p-0 text-right">{{cart_items.total || 0  || 0 | currency }}</div>
                                            </div>
                                          </li>
                                          <li ng-if="cart_items.items.length > 0">
                                              <div class="top-cart-inner check-out">
                                                  <h4 class="text-uppercase">
                                                      <a href="<%= cart_path %>">Check out</a>
                                                  </h4>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </li>
                              <li>
                                  <a href="<%= favorites_path %>">
                                      <i class="zmdi zmdi-star-outline zmdi-hc-lg"></i>
                                  </a>
                              </li>
                              <!-- <li>
                                  <a href="#">
                                      <i class="zmdi zmdi-search zmdi-hc-lg"></i>
                                  </a>
                              </li> -->
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER AREA -->

<!-- START MOBILE MENU AREA -->
<div class="mobile-menu-area hidden-lg hidden-md">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                       <ul>
                         <li><a href="<%= products_path %>">Browse Artwork</a></li>
                            <% if current_user.blank? %>
                              <li>
                                <%= link_to "Sign Up", new_registration_path(:user), class: "#{navbar_white_link_active(controller_name, action_name,
                                'sign_up')}" %>
                              </li>
                              <li>
                                <%= link_to "Sign In", new_session_path(:user), class: "#{navbar_white_link_active(controller_name, action_name, 'sign_in')}" %>
                              </li>
                            <% else %>
                              <li>
                                  <a href="#" class="inline-block"><%= current_user['name'] || 'User' %> </a>
                                  <ul>
                                    <li>
                                      <%= link_to profile_path, style: "color:#{@color};" do %>
                                        My Profile
                                      <% end %>
                                    </li>
                                    <li>
                                      <%= link_to new_artwork_path, style: "color:#{@color};" do %>
                                        Upload Artwork
                                      <% end %>
                                    </li>
                                    <li>
                                      <%= link_to destroy_user_session_path, method: "delete", style: "color:#{@color};" do %>
                                        Sign Out
                                      <% end %>
                                    </li>
                                  </ul>
                              </li>
                              
                            <% end %>
                                <li>
                                    <a href="<%= cart_path %>">
                                        <i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                                        Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= favorites_path %>">
                                        <i class="zmdi zmdi-star-outline zmdi-hc-lg"></i>
                                        Favourites
                                    </a>
                                </li>
                       </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MOBILE MENU AREA -->


<script type="text/javascript">
  function display_sign_in() {
    sign_in = document.getElementById("page-mask-signin");
    sign_form = document.getElementById("new_user_form");
    sign_in.style.display = "block";
    sign_form.style.display = "block";
  }
</script>
