<nav class="navbar navbar-white navbar-toggleable-md bg-inverse navbar-static-top navbar-default">  
    <div class="container">       
        <h1 class="logo">
            <%= link_to root_path, class: "navbar-brand" do %>
               <%= image_tag "black_logo.png", height: "130%" %>
            <% end %>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
              <% if current_user.blank? %>
                <li>
                  <%= link_to "Sign Up", new_registration_path(:user), style: "color:#{@color};",
                  class: "#{navbar_white_link_active(controller_name, action_name,
                  'sign_up')}" %>
                </li>
                <li>
                  <%= link_to "Sign In", new_session_path(:user), style: "color:#{@color};",
                    class: "#{navbar_white_link_active(controller_name, action_name, 'sign_in')}" %>
                </li>
              <% else %>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle <%= navbar_white_link_active(controller_name,
                    action_name, 'profile') %>"
                    data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false"
                    style= "color:<%=@color%>;background-color:white;">
                    PROFILE
                      <span class="caret" style= "color:<%=@color%>;"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to artworks_path, style: "color:#{@color};" do %>
                        MY ARTWORKS
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_registration_path, style: "color:#{@color};" do %>
                        EDIT PROFILE
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, method: "delete", style: "color:#{@color};" do %>
                        SIGN OUT
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
          </ul>
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->                     
    </div><!--//container-->
</nav><!--//header-->