<!-- product-item start -->
<div class="product-item" ng-class="{'product-item-with-options': my_artwork_page}">
  <div class="product-img">
    <a href="<%= products_path %>/{{product.id}}">
      <div class="img-con">
        <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
      </div>
    </a>
  </div>
  <div class="product-info">
    <div class="row m-0">
      <div class="col-xs-8 p-0">
        <h6 class="product-title">
          <a href="<%= products_path %>/{{product.id}}">{{product.name}}</a>
        </h6>
        <h7 class="product-owner">
          <a href="<%= products_path %>?artist_ids={{product.artist_id}}">{{ product.artist_name }}</a>
        </h7>
      </div>
      <div class="col-xs-4  p-0 text-right v-align-t-childs mt-10">
        <a href="javascript:void(0)" favorite-toggle-button>
          <i ng-if="product.loading" class="fa fa-spin fa-spinner"></i>
           <i ng-if="!product.loading"
              class="fa fa-star-outline-sm" 
              ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"
              uib-tooltip="{{product.favorited ? 'Remove from favorites?': 'Add to favorites?'}}">
            </i>
       </a>
        <span class="fav-counts">{{product.favorites_count}}</span>
      </div>
    </div>
    <div ng-if="product.artist_id == current_user_id && my_artwork_page"  class="block product-options">
      <span>{{product.created_at}}</span>
      <span class="text-right f-right">
        <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
        <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>
      </span>
    </div>
  </div>
</div>
<!-- product-item end -->