	<div class="col-md-12 plr-20">
	<!--page-banner START -->
	<div class="page-banner row m-0">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="content-text col-xs-12 col-md-8">
				<h1>Change the way <br>you sell Art</h1>
				<h4>Artzibit is a mobile application that helps you sell your artwork through a full-service solution while bridging the gap between imagination and reality using Augmented Reality.</h4>
				<div class="buttons col-xs-12 mt-20">
					<a target="_blank" href="https://itunes.apple.com/us/app/artzibit/id1216108959" class="mr-10">
						<img src="<%= image_path('app-store-badge.png')%>" class="img-responsive max-h-35" />
					</a>
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.livefitter.artzibit">
						<img src="<%= image_path('google-play-badge.png')%>" class="img-responsive max-h-35" />
					</a>
				</div>
			</div>
			<div class="content-image col-xs-12 col-md-4">
				<img src="<%= image_path('artzibit-prints.png')%>">
			</div>
		</div>
	</div>
	<!--page-banner END -->

	<div class="features row">
		<div class="row">
			<!--item-->
			<div class="item col-xs-12 col-md-6">
				<div class="content-image col-xs-2 p-0">
					<img src="<%= image_path('feature-01.png') %>" class="img-responsive">
				</div>
				<div class="content-text col-xs-10 p-0">
					<h3 class="title">Online Marketplace</h3>
					<p>Make your art accessible and join a worldwide collection of artworks that customers can easily purchase.</p>
				</div>
			</div>
			<!--/item-->
			<!--item-->
			<div class="item col-xs-12 col-md-6">
				<div class="content-image col-xs-2 p-0">
					<img src="<%= image_path('feature-02.png') %>" class="img-responsive">
				</div>
				<div class="content-text col-xs-10 p-0">
					<h3 class="title">Visualize & Size</h3>
					<p>See your art anywhere when you accurately project and scale pieces to the right size using Augmented Reality.</p>
				</div>
			</div>
			<!--/item-->
		</div>

		<div class="row">
			<!--item-->
			<div class="item col-xs-12 col-md-6">
				<div class="content-image col-xs-2 p-0">
					<img src="<%= image_path('feature-03.png') %>" class="img-responsive">
				</div>
				<div class="content-text col-xs-10 p-0">
					<h3 class="title">Purchase & Print</h3>
					<p>Let customers purchase your prints through the app and get printed by curated and quality vendors.</p>
				</div>
			</div>
			<!--/item-->
			<!--item-->
			<div class="item col-xs-12 col-md-6">
				<div class="content-image col-xs-2 p-0">
					<img src="<%= image_path('feature-04.png') %>" class="img-responsive">
				</div>
				<div class="content-text col-xs-10 p-0">
					<h3 class="title">Deliver & Install</h3>
					<p>Get your prints delivered right to your customer’s doorstep and have the option to get it professionally mounted.</p>
				</div>
			</div>
			<!--/item-->
		</div>

	</div>

</div>







