<div id="cart-page" class="row m-0 " ng-controller="CartController as cart_page">
	<div class="cart-wizard block" ng-if="cart_items.items.length > 0" >
		<div class="block mb-20 steps" >
			<div class="step col-xs-12 col-md-4 mb-20" ng-repeat="($idx, tab) in cart_page.wizard.tabs">
				<a 	ng-click="cart_page.wizard.setActive($idx)" 
						ng-class="{ 'active' : cart_page.wizard.tabs[$idx].active, 'cleared': cart_page.wizard.tabs[$idx].cleared }"  
						href="javascript:void(0)";"> 
							<!-- <i class="fa " ng-class="cart_page.wizard.tabs[$idx].cleared ? 'fa-check-circle' : 'fa-circle-o' " aria-hidden="true"></i> -->
							<span>{{tab.title}}</span>
					</a>
			</div>
			<!-- <div class="step col-xs-12 col-md-4">
				<a href="#step2"> 2) Check Out</a>
			</div>
			<div class="step col-xs-12 col-md-4">
				<a href="#step3"> 3) Order Confirmation</a>
			</div> -->
		</div>

		<div class="block step-content" ng-class="{ 'active' : cart_page.wizard.tabs[0].active }" ng-show="cart_page.wizard.tabs[0].active" id="step1">
			<div class="row">
				<div class="item col-xs-12 p-20 bg-white box-shadow mb-10" ng-repeat="product in cart_items.items">
					<div class="col-xs-12 col-md-3">
						<div class="product-item">
		            <div class="product-img">
                  <div class="img-con">
                    <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
                  </div>
                </div>
		        </div>
					</div>
					<div class="col-xs-12 col-md-9 p-0">

						<div class="col-xs-12 col-md-4">
							<div class="product-info p-0">
		            <div class="row m-0">
		              <div class="col-xs-12 p-0">
		                <h3>
		                  <a href="<%= products_path %>/{{product.artwork_id}}">{{product.name}}</a>
		                </h3>
		                <h4 class="product-owner">{{product.artist_name}}</h4>
		              </div>
		              
		            </div>
		          </div>
							<div class="block">
			      		<div class="block">
			      			<strong>Size:</strong> {{product.size}}
			      		</div>
			      		<div class="block">
			      			<strong>Material:</strong> {{product.material}}
			      		</div>
			      		<div class="block">
			      			<strong>Frame:</strong> {{product.frame_type}}
			      		<div class="block">
			      			<strong>Installation:</strong> {{product.installation}} </div>
			      		</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-4">
							<label>Quantity:</label>

							<div class="input-group col-md-6">
					      <span class="input-group-btn">
					        <button ng-disabled="product.updating" ng-click="cart_page.cartItemUpdateByKey(product, 'quantity', product.quantity - 1)" class="btn-custom  btn btn-default" type="button"> - </button>
					      </span>
					      <input ng-model="product.quantity" type="text" class="form-control text-center p-0" placeholder="" readonly="">

					      <span class="input-group-btn">
					        <button ng-disabled="product.updating" ng-click="cart_page.cartItemUpdateByKey(product, 'quantity', product.quantity + 1)" class="btn-custom btn btn-default" type="button"> + </button>
					      </span>
					    </div>
					    <!-- /input-group -->


							<p class="mt-20 ml-20" ng-if="product.updating">
								<i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i> Updating
							</p>

						</div>

						<div class="col-xs-12 col-md-4">
							<div>
								<span class="f-left"><label >Total:</label> {{product.price  || 0 | currency }} </span>
								<a ng-click="cart_page.cartItemDestroy(product)" href="javascript:void(0)";" class="f-right"><i class="zmdi zmdi-close"></i> </a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="row mt-20" ng-if="cart_items.items.length > 0">
				<div class="col-xs-12 col-md-4 col-md-push-8 bg-white box-shadow p-20">
					<div class="input-group">
					  <input placeholder="Input Promo Code" ng-model="cart_page.actual_promo_code" type="text" class="form-control" aria-label="...">
					  <div class="input-group-btn">
							<button class="button btn btn-primary btn-custom" ng-click="cart_page.applyPromoCode()" ng-disabled="!cart_page.actual_promo_code"> Apply </button>			   
					  </div>
					</div>
					<div class="form-group">
						<hr>
						<div class="block">
							<span class="f-left"><label>Subtotal</label></span>
							<span class="f-right">{{cart_items.subtotal_amount  || 0 | currency}}</span>
						</div>
						<div class="block">
							<span class="f-left"><label>Promo Code</label></span>
							<span class="f-right">{{cart_items.discount_amount || 0 | currency}}</span>
						</div>
						<div class="block">
							<span class="f-left"><label>Shipping Fee</label></span>
							<span class="f-right">{{cart_items.shipping_fee  || 0 | currency}}</span>
						</div>
						<hr class="m-10">
						<div class="block">
							<span class="f-left"><strong>Total</strong></span>
							<span class="f-right"><strong>{{cart_items.total  || 0 | currency }}</strong></span>
						</div>
						<div class="block mt-20">
							<a ng-click="cart_page.wizard.goToStep2()" href="javascript:void(0)";" class="button large button-black text-center w-100" tabindex="-1">
		              <span class="text-uppercase w-100">Checkout</span>
		          </a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="block step-content" ng-class="{ 'active' : cart_page.wizard.tabs[1].active }" ng-show="cart_page.wizard.tabs[1].active" id="step2">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<div class="block bg-white box-shadow p-20 mb-20">
  					<h3 class="headline">Payment Methods</h3>
						<%= render 'page/profile/payment_methods' %>
					</div>
					<div class="block bg-white box-shadow p-20 mb-20">
						<h3 class="headline">Shipping Details</h3>
						<%= render 'page/profile/shipping_details' %>
					</div>
					<div class="payment-methods col-xs-12  p-20 bg-white box-shadow  mb-20" style="display: none;">
						<h5>Payment Method</h5>

						<div class="item block">
							<label class="block">
								<div class="col-xs-1">
									<input type="radio" name="payment_method"> 
								</div>
								<div class="col-xs-11">
									Payment method 1
								</div>
							</label>
						</div><!--item/-->
						<div class="item block">
							<label class="block">
								<div class="col-xs-1">
									<input type="radio" name="payment_method"> 
								</div>
								<div class="col-xs-11">
									Payment method 1
								</div>
							</label>
						</div><!--item/-->

						<div class="block text-right">
							<button class="btn button btn-primary">Add Payment Method</button>
						</div>
					</div>


					<div class="shipping-details col-xs-12  p-20 bg-white box-shadow" style="display: none;">
						<h5>Shipping Details</h5>
						<div class="item block">
							<label class="block">
								<div class="col-xs-1">
									<input type="radio" name="shipping_detail"> 
								</div>
								<div class="col-xs-11">
									<strong>Alisha Field</strong>
									<span class="block">+63 2341 2345</span>
									<span class="block">#7 Dummy Address 1</span>
								</div>
							</label>
						</div><!--item/-->

						<div class="block  text-right">
							<button class="btn button btn-primary">Add Shipping Details</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 p-0">
					<div class="block bg-white box-shadow p-20 mb-20">
						<h3 class="headline">
							Order Summary 
						</h3>
						<div class="block product-info mb-20" ng-repeat="product in cart_items.items">
							<div class="col-xs-8 p-0">
								 <h4>{{product.name}}</h4>
	                <h4 class="product-owner">{{product.artist_name}}</h4>
							</div>
							<div class="col-xs-4 p-0 text-right">
								{{product.price  || 0 | currency }}
							</div>

							<div class="block">
			      		<div class="block">
			      			<strong>Size:</strong> {{product.size}}
			      		</div>
			      		<div class="block">
			      			<strong>Material:</strong> {{product.material}}
			      		</div>
			      		<div class="block">
			      			<strong>Frame:</strong> {{product.frame_type}}
			      		<div class="block">
			      			<strong>Installation:</strong> {{product.installation}} </div>
			      		</div>
							</div>

						</div>
					</div>

					<div class="block p-20 bg-white box-shadow">

						<div class="form-group">
							<div class="block">
								<span class="f-left"><label>Subtotal</label></span>
								<span class="f-right">{{cart_items.subtotal_amount  || 0 | currency}}</span>
							</div>
							<div class="block">
								<span class="f-left"><label>Promo Code</label></span>
								<span class="f-right">{{cart_items.promo_code || 'N/A'}}</span>
							</div>
							<div class="block">
								<span class="f-left"><label>Shipping Fee</label></span>
								<span class="f-right">{{cart_items.shipping_fee  || 0 | currency}}</span>
							</div>
							<hr class="m-10">
							<div class="block">
								<span class="f-left"><strong>Total</strong></span>
								<span class="f-right"><strong>{{cart_items.total  || 0 | currency }}</strong></span>
							</div>
							<div class="block mt-20">
								<a href="javascript:void(0)";" ng-click="cart_page.wizard.goToStep3()"  class="button large button-black text-center w-100" tabindex="-1">
			              <span class="text-uppercase w-100">Checkout</span>
			          </a>
							</div>
						</div>

					</div>


				</div>
			</div>
		</div>


		<div class="block step-content" ng-class="{ 'active' : cart_page.wizard.tabs[2].active }" ng-show="cart_page.wizard.tabs[2].active" id="step3">
			<div class="row ptb-50 text-center bg-white box-shadow">
				<h4><strong>Thank you for your purchase!</strong></h4>
				<p>Order No: <strong>{{cart_page.last_order.id}}</strong></p>
				<p>
					A confirmation email will be send together with your e-reciept. <br> 
					Your artwork will arrive within 14 business days of purchase.
				</p>
			</div>
		</div>


	</div>


	<p class="text-center pt-10" ng-if="!cart_items">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
    <!-- <small class="block">Loading please wait...</small> -->
  </p>


	<div class="text-center m-t-100" ng-if="cart_items.length <= 0 || cart_items.items.length <= 0">
		<div class="col-xs-12 col-md-6 col-md-offset-3">

			<img src="<%= image_path('sad-cart.png') %>" class="img-responsive center-block icons-mid-size" />
			<h4>Looks like you have nothing here</h4>
			<p>Add artwork to your cart and we'll take care of everything else once you check out!</p>
			
			<a href="<%= products_path %>" class="button text-center" tabindex="-1">
          <span class="text-uppercase w-100">Start Shopping</span>
        </a>
		</a>

		</div>
	</div>
</div>	

