<div id="contact-page" ng-controller="ContactController as contact">
	<h1 class="page-title">Contact Us</h1>
	<div class="col-xs-12 col-md-4 col-md-offset-4 m-b-100">
		<p class="text-center">Got questions? Concerns? <br> Leave us a message and we'll get in touch!</p>
		<form angular-validator-submit="contact.sendForm()" 
			    novalidate angular-validator
			    name="contact_form">
			
			<div class="form-group">
				<input 	type="text" 
								class="form-control" name="name" placeholder="Your Name" 
								required="required" ng-model="contact.form_params.name">
			</div>
			<div class="form-group">
				<input 	type="email" class="form-control" name="email" placeholder="Your Email" 
								required="required"
								ng-model="contact.form_params.email">
			</div>
			<div class="form-group">
				<input 	type="text" 
								class="form-control" name="subject" placeholder="Subject"
								ng-model="contact.form_params.subject">
			</div>
			<div class="form-group">
				<textarea class="form-control" 
								name="message" placeholder="Your Message" rows="8" 
								required="required"  ng-model="contact.form_params.content"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary form-control"> Send </button>
			</div>

		</form>

	</div>
</div>