<div id="faq-page">
	<h1 class="page-title">Frequently Asked Questions</h1>
	<div class="row m-0">
		<div class="col-xs-12 col-md-3">
			 <aside class="widget box-shadow mb-30 bg-white">
					<ul class="treeview">
					  <li class="active"><a href="#general">General</a></li>
					  <li><a href="#a-s">Account & Security</a></li>
					  <li><a href="#o-p">Orders & Payments</a></li>
					  <li><a href="#s-d" class="">Shipping & Delivery</a></li>
					</ul>
	        
	    	</aside>
			 <aside class="widget box-shadow mb-30 bg-white">
					<ul class="treeview">
					  <li><a href="#artzibit">Artzibit</a></li>
					  <li><a href="#w-i-a">Who is Artzibit</a></li>
					  <li><a href="#p-q">Print Quality</a></li>
					  <li><a href="#others" class="">Others</a></li>
					</ul>
	        
	    	</aside>
		</div>
		<div class="col-xs-12 col-md-9 content">
			<aside class="widget box-shadow mb-30 bg-white">
	       	<section id="general" class="active"> 
	       		<h3 class="headline">General</h3>
	       			<h4>What material will the artwork be printed on?</h4>
	       			<p>By default, artworks can be printed on smooth fine art paper but there is an option to have it printed on ready-to-hang canvases with 2” wooden stretcher bars.</p>

	       			<h4>How can I customize the artwork to my preferred size?	</h4>
	       			<p>Select your preferred artwork and click on the AR button. You will be able to measure and size by pinching the artwork accurately. Once you are satisfied at how it looks like on your wall, click on “Add to Cart”. 	</p>

	       			<h4>What’s the difference between using a marker and without for custom sizing?		</h4>
	       			<p>Printing out and using our marker ensures a more precise measurement and fit for your preferred artwork on your wall. </p>

	       			<h4>Where can I track the progress of my order?	</h4>
	       			<p>You can track the progress of your order by going to Profile &gt; My Orders in-app.  </p>
					
	       	</section>
	       	<section id="a-s"> 
	       		<h3 class="headline">Account & Security</h3>
	       	</section>
	       	<section id="o-p"> 
	       		<h3 class="headline">Orders & Payments</h3>
	       	</section>
	       	<section id="s-d">
	       		<h3 class="headline">Shipping & Delivery</h3>
	       		<h4>Where does Artzibit ship to?</h4>
	       		<p>Currently Artzibit only ships to Singapore.	</p>

	       		<h4>How are the shipping fees calculated?</h4>
	       		<p>
	       			For orders without installation, delivery charge will be $20 (inclusive of GST). 
							For orders with installation, delivery will be $60 (inclusive of GST) for prints that are below 2 metres and $80 (inclusive of GST) for prints over 2 metres with an additional $10 for every nail needed. 		
						</p>

						<h4>The artwork that I’ve received is damaged. What do I do?</h4>
						<p>Our courier service is experienced in handling delivery of fragile products, and in the unlikely event that your print is damaged during transit then we will reprint and resend at our cost.		</p>


						<h4>The artwork that I’ve received is incorrect. What do I do?</h4>
						<p>Send us an email at contact@artzibit.net with a picture of the artwork you received as well as the order number provided in the confirmation email sent to you when you placed your order.	</p>


						<h4>I’m not happy with my artwork and would like a refund?	</h4>
						<p>We also offer an unconditional refund policy if you are not delighted with our work. No conditions. No exceptions. No small print.</p>

						<h4>Can I cancel my order?</h4>
						<p>You can cancel your order within 3 hours after you have placed the order. If you need to change your order, please first cancel it and then place a new one. To cancel your order, please log into your account:</p>

						<h4>Do I get a full refund when I cancel my purchase order?</h4>
						<p>You will receive the amount paid minus a processing fee.		</p>

	       	</section>
	       	<section id="artzibit"> 
	       		<h3 class="headline">Artzibit</h3>

	       		<h4></h4>
	       		<p>Artzibit elevates the art-buying experience through mixing traditional art with augmented reality. We bring together artists and consumers to find what makes the perfect artwork in styles and sizes that fits their needs.</p>

	       	</section>
	       	<section id="w-i-a"> 
	       		<h3 class="headline">Who is Artzibit</h3>
	       	</section>
	       	<section id="p-q"> 
	       		<h3 class="headline">Print Quality</h3>
	       	</section>
	       	<section id="others"> 
	       		<h3 class="headline">Others</h3>
	       	</section>
	    </aside>

		</div>
	</div>
</div>	