<div id="favourites-page" ng-controller="FavoritesController as fav">
	

	<div class="block" ng-if="fav.favorites.length > 0">
		<div class="section-title text-left mb-40">
        <h3>Favorites</h3>
        <hr class="mt-10">
    </div>
    <div class="block">
		<!-- product-item start -->
    <!-- <a href="<%= products_path %>/{{product.id}}"> -->
      <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="($idx, product) in fav.favorites">
        <div class="product-item">
          <a href="<%= products_path %>/{{product.id}}">
            <div class="product-img">
              <div class="img-con">
                <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
              </div>
            </div>
          </a>
          <div class="product-info">
            <div class="row m-0">
              <div class="col-xs-8 p-0">
                <h6 class="product-title">
                  <a href="javascript:void(0)">{{product.name}}</a>
                </h6>
                <h7 class="product-owner">{{product.artist_name }}</h7>
              </div>
              <!-- <div class="col-xs-4  p-0 text-right v-align-t-childs mt-10">
                <a href="javascript:void(0)" favorite-toggle-button ng-init="product.callback = fav.faveToggelCallback"><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                <span class="fav-counts" >{{product.favorites_count}}</span>
              </div> -->
              <div class="col-xs-4  p-0 text-right v-align-t-childs mt-10">
                <a href="javascript:void(0)" ng-click="fav.confirmAction(product)"><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                <span class="fav-counts" >{{product.favorites_count}}</span>
              </div>
            </div>
            <!-- <div class="block product-options">
              <span>{{product.created_at}}</span>
              <span class="text-right f-right">
              <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
              <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>
              </span>
            </div> -->
          </div>
        </div>
      </div>
    <!-- </a> -->
    <!-- product-item end -->
    </div>
	</div>


  <p class="text-center pt-10" ng-if="!fav.favorites">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
    <!-- <small class="block">Loading please wait...</small> -->
  </p>
	<div class="row m-0 text-center m-t-100" ng-if="fav.favorites.length < 1 ">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
 
			<img src="<%= image_path('sad-star.png') %>" class="img-responsive center-block icons-mid-size" />
			<h4>Looks like you have nothing here</h4>
			<p>When you find an artwork you like, you can add it to your favourites to make it easier to come back to them later. Start browsing through artworks and build up your list. We'll keep them right here.</p>

      <a href="<%= products_path %>" class="button text-center" tabindex="-1">
        <span class="text-uppercase w-100">Start Shopping</span>
      </a>

		</div>
	</div>


</div>	