
<div class="preloader">
  <div class="loading-center">
    <div class="loading-center-absolute">
      <div class="object object_one"></div>
      <div class="object object_two"></div>
      <div class="object object_three"></div>
    </div>
  </div>
</div>
<div ng-controller="HomeController as home">
    <div class="mb-50">
      <%= render "home_carousel" %>
    </div>


    <!-- FEATURED PRODUCT SECTION START -->


    <div class="featured-product-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left mb-40">
                        <h2 class="f-left">
                          Featured Arts
                        </h2>
                        <a href="<%= products_path %>" class="f-right text-right">
                          View All
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="featured-product">
                <!-- <div class="row active-featured-product slick-arrow-2"> -->
                <div class="row text-center" ng-if="!home.featured_artworks">
                  <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
                </div>
                <slick  class="slick-arrow-2" 
                        settings="home.top_favs_settings" 
                        data="home.featured_artworks" 
                        init-onload="true" 
                        ng-if="home.featured_artworks">
                    
                      <div class="col-xs-12" ng-repeat="($idx, product) in home.featured_artworks">
                        <!-- product-item start -->
                        <%= render "shared/product_item" %>
                        <!-- product-item end -->
                      </div>
                </slick>
                    
            </div>          
        </div>            
    </div>
    <!-- FEATURED PRODUCT SECTION END -->      


    <!-- BY BRAND SECTION START-->
    <div class="by-brand-section mb-80">
        <div class="container">
            <div class="by-brand-product">
                <div class="row">
                  <div class="row text-center" ng-if="!home.featured_categories">
                    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
                  </div>
                    <!-- single-brand-product start -->
                    <slick  class="slick-arrow-2" 
                            settings="home.cat_settings" 
                            data="home.featured_categories" 
                            init-onload="true" 
                            ng-if="home.featured_categories">
                        <div class="col-xs-12" ng-repeat="item in home.featured_categories">
                            <div class="single-brand-product">
                                <a href="/products?{{item.details.keyword}}={{item.details.ids}}">
                                    <div class="item-overlay"></div>
                                        <img class="img-responsive" ng-src="{{item.details.banner_image}}" alt=""/>
                                        <h3 class="brand-title">{{item.details.name}}</h3>
                                </a>
                            </div>
                        </div>
                    </slick>

                    <!-- single-brand-product end -->

                </div>
            </div>
        </div>
    </div>
    <!-- BY BRAND SECTION END -->
</div>


