<div class="row" ng-controller="ManualPaymentController as manual_payment">

  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center">Manual Payment</h2>
    <div class="form-group">
      <input type="text" 
              ng-model="manual_payment.amount" 
              class="form-control input-lg"
              ng-model="number" 
              placeholder="Amount to pay" 
              name="amount"

              ui-money-mask>
      <button ng-disabled="manual_payment.amount <= 0" ng-click="manual_payment.initStripeForm()" class="btn btn-primary btn-lg w-100">
        Continue
      </button>

    </div>
  </div>
</div>
  
