<div ng-controller="ProfileController as profile" id="profile-page" class="row m-0 ">
	<div class="col-xs-12 col-md-3">
		 <aside class="widget box-shadow mb-30 bg-white">
				<ul class="treeview">
           <li ng-repeat="($idx, item) in profile.side_menu" class="mb-20" ng-class="{'active': item == profile.active_menu}">
            <a ng-click="profile.toggleActiveMenu(item)" href="javascript:void(0);">{{ item.text}}</a>
            <hr ng-show="$idx == 3">
           </li>
				</ul>
    	</aside>

			<!-- <a href="<%= new_artwork_path %>"><button class="w-100 btn-primary btn"> Upload Artwork </button></a> -->

	</div>

	<div class="col-xs-12 col-md-9 content">
   	<section ng-class="{'active': profile.side_menu[0] == profile.active_menu}"> 
   		<%= render 'page/profile/my_profile' %>
   	</section><!--/section-->

   	<section ng-class="{'active': profile.side_menu[1] == profile.active_menu}" class="widget box-shadow mb-30 bg-white"> 
   		<h3 class="headline">{{profile.side_menu[1].text}}</h3>
   		<%= render 'page/profile/my_orders' %>
   	</section><!--/section-->

   	<section ng-class="{'active': profile.side_menu[2] == profile.active_menu}" class="widget box-shadow mb-30 bg-white"> 
   		<h3 class="headline">{{profile.side_menu[2].text}}</h3>
   		<%= render 'page/profile/payment_methods' %>
   	</section><!--/section-->

   	<section ng-class="{'active': profile.side_menu[3] == profile.active_menu}" class="widget box-shadow mb-30 bg-white"> 
   		<h3 class="headline">{{profile.side_menu[3].text}}</h3>
   		<%= render 'page/profile/shipping_details' %>
   	</section><!--/section-->


   	<section ng-class="{'active': profile.side_menu[5] == profile.active_menu}" class="mb-30"> 
   		<!-- <h3 class="headline">{{profile.side_menu[5].text}}</h3> -->
   		<%= render 'page/profile/my_artworks' %>
   	</section>
	</div>


</div>	

