<div class="plr-185" ng-controller="TermsOfServiceController as tos">

	<h1 class="page-title">Terms of Service</h1>

	<div class="col-md-10 col-md-offset-1">

		<div class="block" ng-bind-html="tos.content | trustAsHtml">
			
			<!-- <h5 class="font-w-6">Agreement Between User and Artzibit</h5>
			<p>
			The Artzibit mobile app is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein. 
			</p>
			<p>
			Your use of the Artzibit mobile app constitutes your agreement to all such terms, conditions, and notices. 
			Your use of the Artzibit mobile app may also be subject to additional terms outlined elsewhere on this app (the "Additional Terms").
			</p>
			<br>
			<h5 class="font-w-6">PLEASE READ THE FOLLOWING TERMS OF USE AND DISCLAIMERS CAREFULLY BEFORE USING THE ARTZIBIT MOBILE APP (this “App"). </h5>
			<p>By accessing or using this App, you agree to these terms of use, conditions and all applicable laws. If you do not agree to these terms you may not use this App.</p>

			<br>
			<h5 class="font-w-6">Modification of these terms of use</h5>
			<p>
			Artzibit reserves the right to change the terms, conditions, and notices under which the Artzibit mobile app is offered, including but not limited any charges associated with the use of the Artzibit mobile app. You are responsible for regularly reviewing these terms and conditions.</p> -->
		</div>

	</div>

</div>
