<html>
  <body>
    You have received an enquiry from <%= @user.full_name %>, <%= @user.email %><br /><br />

   <b>Contact Number:</b><br />
    <%= @user_message.contact_no %><br /><br />

   <b>Message:</b><br />
    <%= @user_message.content %><br /><br />

   <b>Sent At:</b> <%= @user_message.created_at.strftime("%d/%m/%Y %I:%M %p") %>
  </body>
</html>