<div class="order_form" width="100%">
  <center>
  <table width="100%" border="0">
    <tr><td align="center">
      <%= image_tag attachments['header_email.jpg'].url, width: "100%", height: "40%" %>
    </td></tr>
  </table>
  <table width="65%" border="0">
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr><td align="center">
    <p> <h2 style="color:#2bcba5;"> READY FOR PICK UP!</h2> </p>
    </td></tr>
    <tr><td align="center">
    <p>A new batch of orders is all set! See the complete information below:</p>
    </td></tr>
    <tr><td align="center">
      <br/>
      <br/>
    </td></tr>
    </table>
    <table width="65%" border="0">

    <tr>
      <td width="50%">
        Order No.<br>
        <h4> <%= @order.id %></h4>
      </td>
      <td width="50%" align="right">
        Order Status<br>
        <h4> Ready for collection </h4>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        Printer<br>
        <h4> <%= AdminUser.printer_name %></h4>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        Pick up Address<br>
        <p><h4> <%= AdminUser.printer_addr %></h4></p>
      </td>
    </tr>
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr>
      <td colspan=2 align="center">
        <%= link_to "VIEW ORDERS", admin_orders_url(scope: "assigned_ready_to_deliver"), class: "btn btn-lg btn-default",
          style: "display:inline-block;margin-bottom:0;font-weight:normal;
          text-align:center;vertical-align:middle;cursor:pointer;
          background-image: none;border: 1px solid transparent;white-space:nowrap;
          user-select:none;background-color:#2bcba5;color:white;
          padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;
          text-decoration:none;" %>
      </td>
    </tr>
    <tr>
      <td colspan=2 align="center">
        <br/>
        <br/>
        <br/>
      </td>
    </tr>
    </table>
    <table width="80%" border="0">
      <tr>
        <td width="50%">
          <p> <h5> <%= image_tag attachments["ig.png"].url, width: "7%", height: "7%"%> instagram </h5> </p>
        </td>
        <td width="50%" align="right">
          <p> <h5> (+65)4531 5638 </h5>
          <h5> contact@artzibit.net</h5> </p>
        </td>
      </tr>
    </table>
    </center>
</div>