<% @artwork = @artwork_approval_hdr.artwork %>
<div class="order_form" width="100%">
  <center>
  <table width="65%" border="0">
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr><td align="center">
    <p> <h2 style="color:#2bcba5;"> WE NEED YOUR ANSWER!</h2> </p>
    </td></tr>
    <tr><td align="center">
    <p>Please choose Approve or Reject for the Artwork below:</p>
    </td></tr>
    <tr><td align="center">
      <%= image_tag attachments["image.png"].url, width: "100%", height: "100%" %>
    </td></tr>
    <tr><td align="center">
      <br/>
      <br/>
    </td></tr>
    </table>
    <table width="65%" border="0">
    <tr>
      <td width="50%">
        Artwork Name.<br>
        <h4> <%= @artwork.name %></h4>
      </td>
      <td width="50%" align="right">
        Approval No.<br>
        <h4> <%= @artwork_approval_hdr.id %> | Expiration Date: <%= "#{@artwork_approval_hdr.expiration_date.strftime('%A, %b %d, %Y')}" %> </h4>
      </td>
    </tr>
    <tr>
      <td width="50%">
        Artist Name <br>
        <h4> <%= @artwork.user.name %></h4>
      </td>
      <td width="50%" align="right">
        Artwork No.<br>
        <h4> <%= @artwork.id %> </h4>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        Description <br>
        <p><h4> <%= @artwork.description %></h4></p>
      </td>
    </tr>
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr>
      <td colspan=2 align="center">
        <%= link_to "APPROVE", artwork_approval_dtl_url(id: @artwork_approval_dtl.id,
          token: @artwork_approval_dtl.approve_token, status: "approve"), class: "btn btn-lg btn-default",
          style: "width:150px;display:inline-block;margin-bottom:0;font-weight:normal;
          text-align:center;vertical-align:middle;cursor:pointer;
          background-image: none;border: 1px solid transparent;white-space:nowrap;
          user-select:none;background-color:#2bcba5;color:white;
          padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;
          text-decoration:none;" %>
        <%= link_to "REJECT", artwork_approval_dtl_url(id: @artwork_approval_dtl.id,
          token: @artwork_approval_dtl.approve_token, status: "reject"), class: "btn btn-lg btn-default",
          style: "width:150px;display:inline-block;margin-bottom:0;font-weight:normal;
          text-align:center;vertical-align:middle;cursor:pointer;
          background-image: none;border: 1px solid transparent;white-space:nowrap;
          user-select:none;background-color:red;color:white;
          padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;
          text-decoration:none;" %>
      </td>
    </tr>
    <tr>
      <td colspan=2 align="center">
        <br/>
        <br/>
        <br/>
      </td>
    </tr>
    </table>
    <table width="80%" border="0">
      <tr>
        <td width="50%">
          <p> <h5> <%= image_tag attachments["ig.png"].url, width: "7%", height: "7%"%> instagram </h5> </p>
        </td>
        <td width="50%" align="right">
          <p> <h5> (+65)4531 5638 </h5>
          <h5> contact@artzibit.net</h5> </p>
        </td>
      </tr>
    </table>
  </center>
</div>