
<div class="col-xs-12 col-md-4 col-md-offset-4 text-center m-t-100 m-b-100">
  <%= form_for(@user, as: :user, url: password_path(:user), html: { method: :post }) do |f| %>
    <div class="row">
      <div class="forgot-header form-group blue-green">
        <h3> <strong>Forgot Your Password?</strong></h3>
      </div>
    </div>
    <div class="row">
      <p> 
        Enter your email address and we'll send you <br> instructions on how to reset your password
      </p>
    </div>
    <div class="row">
      <div class="form-group">
        <% if show_form_errors(@user, :email).present? %> <p class="error text-left"><%= show_form_errors(@user, :email) %></p> <% end %>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control like-button",
          placeholder: "Email Address"%>
      </div>
    </div>
    <div class="row">
      <%= f.submit "Submit", class: "btn btn-primary form-control like-button" %>
    </div>
  <% end %>
</div>
