[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
[readonly]{
	&:hover{
		cursor: default;
	}
}
html {overflow-y: scroll;}
body {
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/** header **/
.header-middle-area{
	box-shadow: 0 1px 3px rgba(50, 50, 50, 0.1);
	.name{
		max-width: 100px;
	}
	.cart-info{
		padding: 0;
	}

	.total-cart-in {
		.item-details-block{
			padding: 10px 20px;
		}
	}
	
	.total-cart-show:hover .total-cart-in ul{
		opacity: 1;
	  top: 100%;
	  visibility: visible;
	}
	.total-cart-pro .single-cart:first-child{
		padding-top: 0;
	}
	.total-cart-pro{
		max-height: 290px;
		overflow: auto;
		padding: 10px 20px;
		img{
			max-height: 70px;
		}
	}
}
.logo{
	padding-bottom: 0px;
	padding-top: 32px;
}
.main-menu > li{
	padding-top: 35px;
	padding-bottom: 35px;
}


.sticky .search-input{
	padding: 12px 0px;
}

.sticky{
	.cart-container{
		margin-top: 20px;
	}
}
.cart-container{
	margin-top: 34px;
}

/** breadcrumb **/
.breadcrumb{ background: none; }

.search-input{
	padding: 27px 0px;
	input[type=text]{
		border-radius: 20px 0px 0px 20px;
		border: 0;
		box-shadow: none;
    background: #f7f7f7;
	}
	.btn-sumbmit{
		height: 40px;
    border: 0;
    background: #f7f7f7;
    border-radius: 0px 20px 20px 0px;
	}

}
@media screen and (max-width: 767px) {
 .search-input{
 	 padding: 0px 0px 20px 0px;
 	 clear: both;
 }
}


/* modal vertical align */
.modal {
  text-align: center;
}

/* ngConfirm */
.ng-confirm-center-buttons{
	.ng-confirm-buttons{
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


/** wrapper pages **/
body{
	background: url(/assets/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #2d2d2d;
	p{color: #2d2d2d;}
}
.wrapper{ background: none;}

.home{
	background: #FFFFFF;
}

.page-title{
	text-align: center;
	margin: 0px 0px 50px 0px;
}

/** home **/
.single-brand-product {
	min-height: 200px;
	.brand-title{
		bottom: 40%;
	    color: #ffffff;
	    font-style: normal;
	    font-weight: bolder;
	    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.20);
	}
}

.product-item{
	margin-bottom: 15px;
	height: 285px;
}
.product-item-with-options{
	margin-bottom: 30px;
	height: 305px;
}

.loading-font{
	margin-top: 20px;
	margin-bottom: 20px;
}

.list-view{
	.product-item{
		height: 92px;
	}
}
.product-info{
	position: relative;
	text-align: left;
	background: #FFF;
	color: #666666;
	padding: 10px 15px;
	.product-title{
		margin-bottom: 3px;
	}
	.product-owner{
		margin-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 12px;
    line-height: normal;
	}
	.product-options{
		display: table;
		width: 100%;
		border-top: thin solid #EEE;
		padding-top: 3px;
		margin-top: 3px;
		.control:not(:last-child){
			margin-right: 5px;
		}
	}
}
.product-img{
	padding: 10px;
	background: #ebecee;
	width: 100%;
	min-height: 230px;
	position: relative;
	.img-con{
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 90%;
		img{
			max-height: 180px;
			border: solid 10px #FFF;
			margin: 0 auto;
			width: auto;
		}
	}
}

.product-item-2{
	.action-button{
		padding: 10px 0px;
	}
}

.shop-list{
	&.product-item{
		border: thin solid #F5F5F5;
	}
	.product-img{
		padding: 10px;
		background: #ebecee;
		width: 20%;
		min-height: 90px;
		position: relative;
		.img-con{
			position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  width: 90%;
			img{
				max-height: 80px;
				border: solid 2px #FFF;
				margin: 0 auto;
				width: auto;
			}
		}
	}
	.product-info{
		width: 80%;
		min-height: 90px;
		padding: 10px 15px;
		p{
			margin-bottom: 0px;
		}
	}
}


.item-overlay{
	background-color: rgba(28,28,28,0.20);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	&:hover{
		cursor: pointer;
		background-color: rgba(28,28,28,0.40);
	}
}

/** footer **/
.home{
	.footer{
		padding: 10px 185px;
	}
	@media screen and (max-width: 767px) {
	 .footer{
			padding: 10px;
		}
	}

}
.footer{
	margin: 100px 0 20px 0px;
	width: 100%;
	min-height: 30px;
	.menu-item{
		margin-right: 1em;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.menu-item:not(:last-child){
		margin-right: 1em;
	}

	@media screen and (max-width: 767px) {
	 .menu-item{
	 	 display: block;
	 }
	}
	.container-fluid{
		border-top: 2px solid #000;
		padding-top: 15px;
	}
}



/** slider **/
#home_carousel{
	.bs-slider-overlay{ background-color: rgba(0, 0, 0, 0.5); }
	height: 375px;
	h1, h2, p{
		text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.70);
	}
	.slide-text{
		text-align: center;
		padding: 0 20%;
	}
	.slide-text > h1{
		font-size: 50px;
		margin-bottom: 5px;
		line-height: normal;
		font-style: italic;
		font-weight: bolder;
		display: block;
	}
	.slide-text > h2{
		padding: 0;
		color: #ffffff;
		font-size: 50px;
		font-style: normal;
		font-weight: bolder;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1px;
		display: inline-block;
		-webkit-animation-delay: 0.7s;
		animation-delay: 0.7s;
		display: block;
	}

	a.button.large span{
		font-weight: 900;
	}
	.control-round .carousel-control.left{
		left: 25% !important;
	}
	.control-round .carousel-control.right{
		right: 25% !important;
	}

	@media screen and (max-width: 767px) {
		.slide-text > h1{ font-size: 28px;}
		.slide-text > h2{ font-size: 24px;}
		.slide-text > p{ font-size: 24px;}
		.button{ font-size: 14px;}
	}


}


/** Page Baner **/
.page-banner{
	background: #f9f9f9;
	border: thin solid #ececec;
	padding: 40px 20px;
	min-height: 310px;
  overflow: hidden;
	.content-text{
		h1{ 
			font-size: 3em;
			text-transform: uppercase;
			font-weight: bolder;
			color: #000;
		}
		h4{ line-height: 1.5;}
		.buttons{
			margin-left: -10px;
			a{ display: inline-block;}
			img{
				height: 55px;
				float: left;
			}
		}
	}
	.content-image{
		img{
			position: absolute;
	    right: -125px;
	    top: -80px;
	    height: 510px;
	    display: inline-block;
		}
	}
}

@media screen and (max-width: 767px) {
	.page-banner{
		.content-text{
			h1{ 
				font-size: 1.5em;
				color: #000;
				text-align: center;
			}
			h4{ line-height: 1.5; text-align: center;}
			.buttons{
				margin-left: -10px;
				text-align: center;
				img{
					height: 50px;
			    float: none;
			    display: block;
			    margin: 0 auto;
				}
			}
		}
		.content-image{
			img{
				position: relative;
		    height: 250px;
		    margin: 0 auto;
		    display: block;
		    right: 15px;
		    top: 0px;
			}
		}
	}
}

/** Feautes **/
.features{
	padding: 0px 110px;
	margin-top: 50px;
	.item{
		padding: 20px 20px 0px 20px;
	}
	.content-text{
		.title{
			text-transform: uppercase;
			font-weight: bolder;
		}
		p{
			font-weight: 500;
			color: #434343;
			padding: 0 30px 0 0;
		}
	}
	.content-image{
		img{ 
			width: 40px;
	    right: 15px;
	    position: absolute;
	    top: 5px;
		}
	}
}
@media screen and (max-width: 767px) {
	.features{ 
		margin-top: 0;
		padding: 30px;
	}
}


/** FAQ **/
#faq-page{
	.treeview li.active a{
		color: #2395ec;
		font-weight: bolder;
	}
	.content section:not(.active){
		display: none;
	}
}




/** product show **/
.product-show{
	.single-product{
		.product-img{
			display: table;
			padding: 20px;
			min-height: 300px;
			background: #ebecee;
			width: 100%;
			text-align: center;
			a{
				display: table-cell;
		  	vertical-align: middle;
			}
			img{
				max-height: 500px;
				margin: 0 auto;
				width: auto;
				border-radius: 0;
				border: solid 10px #FFFFFF;
			}
		}
		hr{
			margin: 10px 0;
		}
	}
}


/** reviews **/
.reviews{
	.review{
		margin: 0 auto;
		width: 96%;
		border-bottom: solid thin #f1f1f1;
		padding: 20px 20px;
		img{
			max-height: 250px;
		}

		&:nth-child(odd){
			background: #FFFFFF;
		}

		.user-name{
			font-weight: bold;
		}

	}
	.add-review{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}



/** cart page **/
.cart-wizard{
	.steps{
		.step{
			a{	
				border-bottom: 4px solid #ececec;
				display: block;
				width: 100%;
				font-size: 18px;
				line-height: 2;
			}
		}
		.step{
			a.cleared{
				border-bottom: 4px solid #428aca;
				border-bottom: 4px solid #575757;
			}
			a.active{
				font-weight: bolder;
				border-bottom: 4px solid #575757;
			}
			a:focus, a:hover{
				color: #575757;
			}
		}
	}
}


/** profile page **/
#profile-page{
	.treeview li.active a{
		color: #2395ec;
		font-weight: bolder;
	}
	.content section:not(.active){
		display: none;
	}
}


.initial{
	background: #DEDEDE;
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #595959;
  margin-bottom: 0;
  text-align: center;
  vertical-align: bottom;
	.text{
		color: #FFF;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
	}
}

.custom-banner{
	background: #FFF;
	border: thin solid #eee;
	margin-bottom: 10px;
	padding: 20px;
	height: 200px;
	background: url('/assets/profile-banner.jpg') no-repeat center center;
	.initial{
		background: #DEDEDE;
		border-radius: 50%;
		display: inline-block;
		width: 75px;
		height: 75px;
		background-color: #595959;
		margin-bottom: 20px;
		.text{
			color: #FFF;
			font-size: 28px;
			line-height: 75px;
			text-transform: uppercase;
		}
	}
}
.spinner{
	max-height: 40px;
	display: inline-block;
}



/** Generic classes **/
.cursor-pointer:hover{
	cursor: pointer;
}
.box-shadow{
	box-shadow: 0 1px 3px rgba(50, 50, 50, 0.1);
}
.color-gray{
	color: #EEE;
}
.color-gray2{
	color: #bac3ca;
}

.error, label.has-error{
	font-size: .8em;
	color: #a94442;
	margin-bottom: 3px;
}
.headline{
	padding-bottom: 10px;
	border-bottom: solid thin #eeeeee;
	font-weight: 600;
}

.inline-block{
	display: inline-block !important;
}

.block{
	display: table;
	position: relative;
	width: 100%;
}

.w-100{ width: 100%;}

.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}

.p-0{ 
	padding: 0 !important; 
}

.p-l-0{ padding-left: 0px;}
.p-l-5{ padding-left: 5px;}
.p-r-0{ padding-right: 0px;}
.p-r-5{ padding-right: 5px}
.pt-5{ padding-top: 5px;}
.pt-10{ padding-top: 10px;}
.pt-15{ padding-top: 15px;}
.m-0{
	margin: 0px;
}
.ml-5{
	margin-left: 5px;
}
.ml-10{
	margin-left: 10px;
}
.ml-15{
	margin-left: 15px;
}
.ml-20{
	margin-left: 20px;
}
.mr-5{
	margin-right: 5px;
}
.mr-10{
	margin-right: 10px;
}
.mr-15{
	margin-right: 15px;
}
.mr-20{
	margin-right: 20px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-100{
	margin-top: 100px;
}
.m-b-10{
	margin-bottom: 10px;
}

.m-b-20{
	margin-bottom: 20px;
}

.m-b-50{
	margin-bottom: 50px;
}
.m-b-100{
	margin-bottom: 100px;
}
.min-h-20{
	max-height: 20px;
}
.max-h-20{
	max-height: 20px;
}
.max-h-30{
	max-height: 30px;
}
.max-h-35{
	max-height: 35px;
}
.max-h-40{
	max-height: 40px;
}
.max-h-50{
	max-height: 50px;
}
.max-h-100{
	max-height: 100px;
}

.max-h-200{
	max-height: 200px;
}

.max-h-250{
	max-height: 250px;
}

.max-h-300{
	max-height: 300px;
}
.max-h-400{
	max-height: 400px;
}

.overflow-auto{
	overflow: auto;
}

.c-gray{
	color: lighten( #000000, 50% );
}

.bg-white{
	background: #FFFFFF;
}
.bg-gray{
	background: #EEEEEE;
}
.bg-light-gray{
	background: #fcfcfc !important;
}

.borderless{
	border: 0;
}

.center-block{
	display: block;
	margin: 0 auto;
}

.truncate{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}


btn, .btn{
	/*height: 40px;*/
}
.btn-custom{
	height: 40px;
}

label{
	color: #434343;	
}



.form-group{
	margin-bottom: 5px;
}

.select-wrapper select,select.form-control{
  	color: #4c4c4c;
    border:none;
    box-shadow: none;
    height: 40px;
    width: 95%;
    margin: 0;
    @extend .form-control;
    &:focus{
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
}    
.select-wrapper{
	padding-left: 10px;
  border: 1px solid #CCC;
  border-radius: 0px;
  background: #FFF;
}

input[type="text"], input[type="password"], input[type="email"], textarea, textarea.form-control{
  border: 1px solid #CCC;
  box-shadow: none;
  color: #4c4c4c;
  border-radius: 0;
  margin-bottom: 10px;
}

.v-align-t-childs *{
	display: inline-block;
	vertical-align: top;
	line-height: normal;
}

.valign-t{
	vertical-align: top;
	line-height: normal;
}
.valign-m{
	vertical-align: middle;
	line-height: normal;
}

.hidden{ 
	display: none !important;
}

select.normal-select{
	@extend .form-control;
	border: 1px solid #CCC;
  box-shadow: none;
  color: #4c4c4c;
  border-radius: 0;
  margin-bottom: 10px;
  background: #FFF;
  width: 100%;
}

hr{
	clear: both;
}

.modal-header{
	border-bottom: none;
}

.icons-mid-size{
	width: 80px;
	margin-bottom: 20px;
}

.borderless{
	border: 0;
}
.fw-normal{
	font-weight: normal;
} 
.tf-none{
	text-transform: none;
}

.fs-15{
	font-size: 15px;
}

@media screen and (max-width: 767px) {
	 .ta-center-on-sm{
	 	 text-align: center !important;
	 }
 }



 .fa-star-outline:before {
    background-image: url('/assets/fave-01.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    content: "";
}
 
 .fa-star{
 		cursor: pointer;
 		&:before{
	 		background-image: url('/assets/fave-02.png');
	    background-size: 25px 25px;
	    background-repeat: no-repeat;
	    width: 25x;
	    height: 25px;
	    display: inline-block;
	    overflow: hidden;
	    content: "";
    }
 }

 .fa-star-outline-sm:before {
    background-image: url('/assets/fave-01.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    content: "";
}


 
 .fa-star-sm{
 		cursor: pointer;
 		&:before{
	 		background-image: url('/assets/fave-02.png');
	    background-size: 15px 15px;
	    background-repeat: no-repeat;
	    width: 15px;
	    height: 15px;
	    display: inline-block;
	    overflow: hidden;
	    content: "";
    }
 }



