body{
	background: image-url("bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-wrapper{
	height: 100%;
}

.main-nav{
	height: 60px;
}

.main-content{
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
	margin-bottom: 80px;
}

.center-wrapper{
	@extend .container;
	background: #FFF;
	height: 100%;
	min-height: 750px;
	padding: 2em 4em;
	position: relative;
}
.navbar{
	margin-bottom: 0;
}

.select-wrapper select,select.form-control{
    border:none;
    height: 52px;
    width: 95%;
    @extend .form-control;
    &:focus{
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
}    
.select-wrapper{
	padding-left: 10px;
    border: 1px solid #CCC;
    border-radius: 0px;
}
	

.footer{
	border-top: 2px solid #000;
	position:absolute;
	bottom:0;
	left: 0;
	width: 92%;
	min-height: 30px;
	margin: 0 4%;
	padding: 1em 0em;

	.menu-item{
		margin-right: 1em;
		text-decoration: none;
		color: #777;
		&:hover{
			color: #000;
			text-decoration: underline;
		}
	}
	.menu-item:not(:last-child){
		margin-right: 1em;
	}

	@media screen and (max-width: 767px) {
	 .menu-item{
	 	 display: block;
	 }
	}
}

select{
	border-radius: 0;
}

input.form-control, select.form-control{
	padding: 15px;
  line-height: 1;
  height: 52px;
}
.btn{
	border-radius: 0px;	
}


/** Generic classes **/
.error{
	font-size: .8em;
	color: #a94442;
	margin-bottom: 3px;
}


.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}

.p-0{ 
	padding: 0; 
}

.p-l-0{ padding-left: 0px;}
.p-l-5{ padding-left: 5px;}
.p-r-0{ padding-right: 0px;}
.p-r-5{ padding-right: 5px}

.m-0{
	margin: 0px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-100{
	margin-top: 100px;
}
.m-b-10{
	margin-bottom: 10px;
}

.m-b-50{
	margin-bottom: 50px;
}
.m-b-100{
	margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
	 .ta-center-on-sm{
	 	 text-align: center !important;
	 }
 }
