
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.Jcrop
 *= require chosen
 *= require_tree .
 */

 body {
  font-size: 10px;
 }


.table > tbody > tr > td {
  word-wrap: break-word;
}
table > thead > tr > th {
  text-align: center;
  border: 1px solid black !important;
}
table > tbody > tr {
  border-left: 1px solid black !important;
}
table > tbody > tr > td {
  border-bottom: 1px solid black !important;
}
.table > tbody > tr > td.total,
.table > thead > tr > th.total {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}