<div ng-controller="ProductsController as products"  class="row shop-section mb-80" ng-cloak>
  <div class="col-md-9 col-md-push-3 col-sm-12 widget bg-white box-shadow">
    <div class="shop-content ">
      <div class="row m-0">
        <h3 class="f-left">Open Marketplace</h3>
        <ul class="shop-tab f-right text-right" role="tablist">
          <li class="active">
            <a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
          </li>
          <li>
            <a href="#list-view" data-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
          </li>
        </ul>
        <hr class="mt-5 mb-10">
      </div>

      <!-- Tab Content start -->
      <div class="tab-content">
        <p class="text-center pt-10" ng-if="products.artworks_loading">
          <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
          <!-- <small class="block">Loading please wait...</small> -->
        </p>
        <p ng-if="products.artworks.length < 1 && !products.artworks_loading" class="text-center pt-10">
          No result found
        </p>
        <!-- grid-view -->
        <div role="tabpanel" class="tab-pane active" id="grid-view" ng-if="!products.artworks_loading">
          <div class="row">
            
              <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="($idx, product) in products.artworks">
                <!-- product-item start -->
                <%= render "shared/product_item" %>
                <!-- product-item end -->
              </div>
          </div>
        </div>

        <!-- list-view -->
        <div role="tabpanel" class="tab-pane list-view" id="list-view" ng-if="!products.artworks_loading">
          <div class="row">
            <!-- product-item start -->
            
              <div class="col-md-12" ng-repeat="($idx, product) in products.artworks">
                <div class="shop-list product-item">
                  <div class="product-img">
                    <a href="<%= products_path %>/{{product.id}}">
                      <div class="img-con">
                        <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
                      </div>
                    </a>
                  </div>
                  <div class="product-info">
                    <div class="clearfix">
                      <div class="row m-0">
                        <div class="col-xs-8 pl-0">
                          <h6 class="product-title">
                            <a href="<%= products_path %>/{{product.id}}">{{product.name}}</a>
                          </h6>
                          <h7 class="product-owner">{{product.artist_name }}</h7>
                        </div>
                        <div class="col-xs-4 p-r-0 text-right v-align-t-childs mt-10">
                          <div class="block text-right">
                            <a href="javascript:void(0)" favorite-toggle-button><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                            <span class="fav-counts">{{product.favorites_count}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="row m-0">
                        <!-- <div class="product-options borderless">
                          <span class="f-left">{{product.created_at}}</span>
                          <span class="text-right f-right">
                          <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
                          <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>
                          </span>
                        </div> -->
                      </div>
                    </div>
                    <!-- <p>{{product.description}}</p> -->
                  </div>
                </div>
              </div>
            <!-- product-item end -->
          </div>
        </div>
      </div>
      <!-- Tab Content end -->
      <!-- shop-pagination start -->
      <!-- <ul class="shop-pagination box-shadow text-center ptblr-10-30">
        <li><a href="javascript:void(0)"><i class="zmdi zmdi-chevron-left"></i></a></li>
        <li><a href="javascript:void(0)">01</a></li>
        <li><a href="javascript:void(0)">02</a></li>
        <li><a href="javascript:void(0)">03</a></li>
        <li><a href="javascript:void(0)">...</a></li>
        <li><a href="javascript:void(0)">05</a></li>
        <li class="active"><a href="javascript:void(0)"><i class="zmdi zmdi-chevron-right"></i></a></li>
      </ul> -->
      <!-- shop-pagination end -->
    </div>
  </div>
  <div class="col-md-3 col-md-pull-9 col-sm-12">
    <!-- widget-search -->
    <aside class="widget-search mb-10">
        <input type="text" placeholder="Search here..." ng-model="products.keyword">
        <!-- <button type="submit"><i class="zmdi zmdi-search"></i></button> -->
    </aside>
    <!-- operating-system -->
   <!--  <aside class="widget p-10 operating-system box-shadow mb-10 bg-white">
      <a data-toggle="collapse" href="#artist-collapse" aria-expanded="false" aria-controls="artist-collapse">
        <h6 class="widget-title mb-0">  
          Artist
          <span class="f-right text-right">
            <span class="mr-10 fw-normal tf-none">
            {{products.artists_all == true ? 'All' : ''}}
            </span>
            <i class="zmdi zmdi-chevron-down"></i>
          </span>
        </h6>
      </a>
      <div class="collapse" id="artist-collapse">
        <hr class="mb-10 mt-10">
        <label class="block">
          <input type="checkbox" name="operating-1" ng-change="products.selectAllFilters(products.artists_all, products.artists.values)" ng-model="products.artists_all">All
        </label>

        <div class="row text-center" ng-if="!products.artists">
          <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
        </div>

        <label ng-repeat="item in products.artists.values" class="block">
          <input class="inline-block" type="checkbox" name="operating-1" ng-model="item.selected" ng-change="products.checkIfCheckAll('artists')">
          <span class="inline-block truncate" style="width: 70%;">{{item.name}}</span>
        </label>
      </div>

    </aside> -->
    <aside class="widget operating-system box-shadow mb-30 bg-white">
      <a data-toggle="collapse" href="#categories-collapse" aria-expanded="false" aria-controls="categories-collapse">
        <h6 class="widget-title mb-0">
            Category  
            <span class="f-right text-right">
              <span class="mr-10 fw-normal tf-none">
              {{products.categories_all == true ? 'All' : ''}}
              </span>
              <i class="zmdi zmdi-chevron-down"></i>
            </span>
        </h6>
      </a>

      <div class="collapse" id="categories-collapse">
        <hr class="mb-10 mt-10">
        <label class="block">
          <input type="checkbox" name="operating-1" ng-change="products.selectAllFilters(products.categories_all, products.categories.values)" ng-model="products.categories_all">All
        </label>


        <div class="row text-center" ng-if="!products.categories">
          <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
        </div>

        <label  class="block" ng-repeat="item in products.categories.values">
          <input class="inline-block" type="checkbox" name="operating-2" ng-model="item.selected" ng-change="products.checkIfCheckAll('categories')">
          <span class="inline-block truncate" style="width: 70%;">{{item.name}}</span>
        </label>
      </div>
      
    </aside>
    <aside class="text-right">
      <div class="col-md-6 col-xs-12 pl-0">
        <!-- <button ng-click="products.clearFilters()" class="btn button btn-default form-control">Clear Filter </button> -->
        <a href="javascript:void(0)" ng-click="products.clearFilters()"  class="button button-white text-center w-100" tabindex="-1">
          <span class="text-uppercase w-100">Clear Filter</span>
        </a>
      </div>
      <div class="col-md-6 col-xs-12 pr-0">
        <!-- <button ng-click="products.triggerFilters()" class="btn button btn-primary form-control"><i class="zmdi zmdi-search m-r-5"></i>&nbsp;Filter </button> -->
        <a href="javascript:void(0)" ng-click="products.triggerFilters()"  class="button button-primary text-center w-100" tabindex="-1">
          <span class="text-uppercase w-100">Search</span>
        </a>
      </div>

    </aside>
  </div>
</div>