<script type="text/javascript">
	var PRODUCT_ID = <%= params[:id] %>
</script>

<div class="product-show" ng-controller="ProductShowController as product">

	<div class="row text-center" ng-if="!product.details">
    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
    <!-- <small class="block">Loading please wait...</small> -->
  </div>

	<div class="row single-product" ng-if="product.details">
		<form angular-validator-submit="product.submitNewForm()"
        focus-on-error
        novalidate 
        angular-validator
        name="new_form" class="margin-bottom-0">

			<div class="col-xs-12 col-md-5">
				<div class="product-img">
			    <img class="img-responsive" src="{{product.details.image}}" alt="">
			  </div>
			</div>
			<div class="col-xs-12 col-md-7 bg-white p-30">
				<div class="single-product-info">
						<div class="form-group row">
							<div class="col-xs-8">
				        <h3 class="text-black-1">{{product.details.name}} </h3>
				        <h6 class="brand-name-2">{{product.details.artist_name }}</h6>
							</div>
							<div class="col-xs-4 text-right v-align-t-childs">
								<a href="<%= products_path %>/{{product.details.id}}" class="mr-10" ng-if="product.details.artist_id == product.current_user_id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								<a href="javascript:void(0)" favorite-toggle-button data-target="details"><i class="fa" ng-class="product.details.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
      					<span class="fav-counts">{{product.details.favorites_count}}</span>
							</div>
						</div>
		        <!--  hr -->
		        <hr>
		        <div class="form-group row">
		        	<div class="col-xs-12">
				       	<div class="form-group">
				       		<label>Print Size</label>
					       		<select name="fixed_size_id" ng-model="product.new_params.fixed_size_id" ng-options="item.id as item.name for item in product.details.print_sizes" class="normal-select form-control" required="">
					       		</select>
				       	</div>
				       	<div class="form-group">
					       	<label>Material</label>
				       			<select name="material" ng-model="product.new_params.material" ng-options="item as item.name for item in product.details.materials" class="normal-select form-control" required="">
					       		</select>
				       	</div>
				       	<div class="form-group">
				       		<label>Frame</label>
					       		<select name="frame" ng-model="product.new_params.frame" ng-options="item as item.name for item in product.details.frame_types" class="normal-select form-control" required="">
					       		</select>
				       	</div>
			       	</div>
		       	</div>

		       	<hr>

		       	<div class="form-group row">
		       		<div class="col-xs-12 col-md-8">
		       			<label>Install this artwork?</label>
		       			Installation will incur additional fees
		       		</div>

		       		<div class="col-xs-12 col-md-4">
		       			<div class="input-group f-right">
			    				<div id="radioBtn" class="btn-group">
			    					<a class="btn btn-default btn-sm" ng-model="product.new_params.installation" uib-btn-radio="true">Yes</a>
			    					<a class="btn btn-default btn-sm" ng-model="product.new_params.installation" uib-btn-radio="false">No</a>
			    				</div>


			    			</div>
		       		</div>
		       	</div>
		       	<hr>

		       	<div class="form-group row">
		       		<div class="col-xs-12 col-md-9">
		       			<label>Quantity</label>
		       		</div>

		       		<div class="col-xs-12 col-md-3">
		       			<!-- <div class="sin-plus-minus f-right clearfix">
	                <div class="cart-plus-minus f-left">
	                    <input name="quantity" type="text" id="quantity" ng-model="product.new_params.quantity" name="qtybutton" class="cart-plus-minus-box borderless" >
	                </div>   
		            </div> -->
		       			
		       			<div class="input-group f-right">
						      <span class="input-group-btn">
						        <button ng-click="product.updateQuantity(false)"  class="btn-custom  btn btn-default" type="button"> - </button>
						      </span>
						      <input ng-model="product.new_params.quantity" name="quantity" type="text" class="form-control text-center p-0" placeholder="" readonly="">
						      <span class="input-group-btn">
						        <button  ng-click="product.updateQuantity(true)" class="btn-custom btn btn-default" type="button"> + </button>
						      </span>
						    </div><!-- /input-group -->

		       		</div>
		       		

		       	</div>

		       	<!-- <div class="form-group row">
			       		<div class="col-xs-12 col-md-8">
			       			<label>Price</label>
			       		</div>

			       		<div class="col-xs-12 col-md-4 text-right">
			       			<label class="pro-price">$ 869.00</label>
			       		</div>
		       	</div> -->
		        <!-- hr -->
		        <hr>

		        <div class="product-description">
		        	<p>{{product.details.description}}</p>
		        </div>
		        <div>
		        		<button type="submit" class="btn-primary btn-lg mb-10 w-100 fs-15" type="submit">
		        			Purchase this print 
		        			<span class="ml-10">{{product.computed_price | currency}}</span>
		        		</button>
		            <!-- <a ng-submit="product.submitNewForm()" href="javascript:void(0)" class="button button-primary text-center w-100" tabindex="-1">
		                <span class="text-uppercase w-100">Purchase this print</span>
		            </a> -->
		            <a ng-click="product.previewWithAr()" href="javascript:void(0)" class="button button-black text-center w-100" tabindex="-1">
		                <span class="text-uppercase w-100">Preview with AR</span>
		            </a>
		        </div>
		    </div>
			</div>

		</form>
	</div>



	<!-- FEATURED PRODUCT SECTION START -->
	<div class="featured-product-section mt-50 mb-50">
	    <div class="row">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="section-title text-center mb-40">
	                    <h3 class="headline">More From this Artist</h3>
	                </div>
	            </div>
	        </div>
	        <div class="row p-20 m-0 text-center"  ng-if="product.related_products && product.related_products.length <= 0">
	        	<p> No more artwork from this artist</p>
	        </div>
	        <div class="row text-center" ng-if="!product.related_products">
				    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
				    <!-- <small class="block">Loading please wait...</small> -->
				  </div>
	        <div class="featured-product">
	            <div class="row active-featured-product1 slick-arrow-2">
	            	<slick  class="slick-arrow-2 col-md-10 col-md-offset-1" 
                            settings="product.related_products_sett" 
                            data="product.related_products" 
                            init-onload="true" 
                            ng-if="product.related_products">
									<!-- product-item start -->

									<div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="($idx, product) in product.related_products" ng-show="product.id !== product_id">
									    <div class="product-item">
									    	 	<a href="<%= products_path %>/{{product.id}}">
										        <div class="product-img">
										          <div class="img-con">
										            <img class="img-responsive" ng-src="{{product.image}}" alt=""/>
										          </div>
										        </div>
									      	</a>
									        <div class="product-info">
									            <div class="row m-0">
									              <div class="col-xs-8 p-0">
									                <h6 class="product-title">
									                  <a href="#">{{product.name}}</a>
									                </h6>
									                <h7 class="product-owner">{{product.artist_name }}</h7>

									              </div>
									              <div class="col-xs-4  p-0 text-right v-align-t-childs">
									                <a href="javascript:void(0)" favorite-toggle-button><i class="fa fa-star-outline-sm" ng-class="product.favorited ? 'fa-star-sm' : 'fa-star-outline-sm'"></i></a>
                        					<span class="fav-counts">{{product.favorites_count}}</span>
									              </div>
									            </div>
									            <!-- <div class="block product-options">
									              <span>{{product.created_at}}</span>
									              <span class="text-right f-right">
									                <a href="<%= artworks_path %>/{{product.id}}/edit" class="control"><i class="zmdi zmdi-edit"></i></a>
									                <a href="javascript:void(0)" ng-click="my_artworks.destroyArtworkDetails(product, $idx)" class="control"><i class="zmdi zmdi-close"></i></a>

									              </span>
									            </div> -->
									        </div>
									    </div>
									</div>
									<!-- product-item end -->
								</slick>
	            </div>
	        </div>          
	    </div>            
	</div>
	<!-- FEATURED PRODUCT SECTION END -->    


	<div class="reviews">
		<h3 class="headline">Reviews</h3>
		<div class="row text-center" ng-if="!product.reviews">
	    <i class="fa fa-spinner fa-spin fa-2x color-gray2 loading-font"></i>
	    <!-- <small class="block">Loading please wait...</small> -->
	  </div>
		<p class="text-center mt-20" ng-if="product.reviews.length < 1">
			No reviews found
		</p>
		<div class="row review" ng-repeat="review in product.reviews | reverse">
			<div class="col-xs-12 col-md-8">
				<h5 class="user-name">{{review.user_name}}</h5>
			</div>
			<div class="col-xs-12 col-md-4 text-right content">
				{{review.created_at}}
			</div>
			<div class="col-md-8">
				<p>{{review.content}}</p>
			</div>
			<div class="col-md-4 text-right" ng-if="review.image">
				<img src="{{review.image}}" class="img-responsive f-right">
			</div>
		</div>

		<div class="add-review col-md-10 col-md-offset-1">
			<div class="form-group">
				<textarea name="content" class="mb-0" ng-model="product.review_params.content" rows="2" placeholder="Place your reviews here"></textarea>
			</div>
			<div class="form-group text-center">
				{{product.selected_image.name}}
				<div class="block mb-20">
          <a 	href="javascript:void(0)"
              ngf-select="product.preUploadImage($file)"
              ngf-accept="'image/*'"
              ngf-max-files="1"
              id="artwork-image"
              required>
            <small><i class="fa fa-paperclip"></i> Add Attachment</small>
          </a>
          <label class="inline-block valign-t has-error" ng-show="false">Please provide a valid image</label>
          <span class="inline-block valign-t" >{{product_new.selected_image.name}}</span>
        </div>

				<!-- <button type="submit" class="btn btn-primary" ng-disabled="!product.review_params.content">Add Review</button> -->

				<a ng-click="product.createProductReview()" ng-disabled="!product.review_params.content || !product.review_params.image" href="javascript:void(0)" class="button button-primary text-center" tabindex="-1">
            <span class="text-uppercase">Add Review</span>
        </a>
			</div>
		</div>

		
	</div>


	<div class="modal" id="preview-with-ar-modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body p-30">
	      	<div class="row">
		      	<div class="col-xs-8">
		      		<h3> <strong>Bridge the gap between imagination and reality with Artzibit!</strong></h3>
		      		<p>
		      		Visualize how art prints look on you wall using  Augmented Reality and conveniently scale artworks to your custom sizes.
		      		</p>

		      		<p>
		      			Don’t have the app yet? Download it on App Store  or Google Play.
		      		</p>
		      		<div class="block">
			      		<a target="_blank" href="https://itunes.apple.com/us/app/artzibit/id1216108959">
			      			<img src="<%= image_path('app-store-badge.png')%>" class="img-responsive max-h-40 mr-10 inline-block">
		      			</a>
		      			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.livefitter.artzibit">
			      			<img src="<%= image_path('google-play-badge.png')%>" class="img-responsive max-h-40  inline-block" />
			      		</a>
		      		</div>

		      	</div>
		      	<div class="col-xs-4">
		      		<img src="<%= image_path('white-mobile-phone-mockup.png') %>" class="img-responsive">
		      	</div>
	      	</div>

	      </div>

	    </div>
	  </div>
	</div>


	<div class="modal" id="item-added-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title text-center"> <strong>This item has been added to your cart</strong></h4>
	      </div>
	      <div class="modal-body p-30">
	      	<div class="row">
		      	<div class="col-xs-5">
		      		<div class="product-img">
		      			<div class="img-con">
						    	<img class="img-responsive" src="{{product.details.image}}" alt="" style="max-height: 200px;">
						    </div>
						  </div>
		      	</div>
		      	<div class="col-xs-7">
		      		<div class="col-xs-8 p-0">
		      			<strong class="block">{{product.added_item.name}}</strong>
		      			<p class="brand-name-2">{{product.added_item.artist_name}}</p>
		      			<!-- <p class="block"><small><i>{{product.added_item.artist_name}}</i></small></p> -->
		      		</div>
		      		<div class="col-xs-4 p-0 text-right">
		      			<strong>{{product.added_item.price  || 0 | currency }}</strong>
		      		</div>
		      		<div class="block">
		      			<strong>Quantity:</strong> {{product.added_item.quantity}}
		      		</div>
		      		<div class="block">
		      			<strong>Size:</strong> {{product.added_item.size}}
		      		</div>
		      		<div class="block">
		      			<strong>Material:</strong> {{product.added_item.material}}
		      		</div>
		      		<div class="block">
		      			<strong>Frame:</strong> {{product.added_item.frame_type}}
		      		<div class="block">
		      			<strong>Installation:</strong> {{product.added_item.installation ? "Yes" : "No" }} </div>
		      		</div>
		      	</div>
	      	</div>

	      	<div class="row">
	      		<hr>
	      	</div>
	      	<div class="row text-center v-align-t-childs">
	      		<a href="<%= home_path %>" class="button button-black text-center" tabindex="-1">
              <span class="text-uppercase w-100">Continue Shopping</span>
            </a>
	      		<span class="mr-10 mt-10">or</span>
	      		<a href="<%= cart_path %>" class="button text-center" tabindex="-1">
              <span class="text-uppercase w-100">Proceed to Checkout</span>
            </a>
	      	</div>

	      </div>

	    </div>
	  </div>
	</div>



	<div class="modal" id="must-signin-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <!-- <h4 class="modal-title text-center"> <strong>This item has been added to your cart</strong></h4> -->
	      </div>
	      <div class="modal-body p-30 text-center">
	      	<h4>You must be signed in to your account to purchase prints.</h4>
	      		<hr cass="mt-10 mb-10">
	      	
	      	<div class="row text-center v-align-t-childs">
	      		<a href="<%= new_user_session_path %>" class="button button-black text-center" tabindex="-1">
              <span class="text-uppercase w-100">Sign In</span>
            </a>
	      		<span class="mr-10 mt-10">or</span>
	      		<a href="<%= new_user_registration_path %>" class="button text-center" tabindex="-1">
              <span class="text-uppercase w-100">Sign Up</span>
            </a>
	      	</div>

	      </div>

	    </div>
	  </div>
	</div>







</div>