<!DOCTYPE html>
<html ng-app="microsite" ng-cloak disable-right-click>
  <head>
    <title>Artzibit</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
    <script type="text/javascript">
      var API_BASE_URL = '<%= Settings.api_url %>';
      var CSRF_TOKEN = {
        name: '<%= request_forgery_protection_token.to_s %>',
        value: '<%= form_authenticity_token.to_s %>'
      };
     
      var USER_TOKEN = '<%= current_user.try(:authentication_token) %>'
      var USER_EMAIL = '<%= current_user.try(:email) %>'
      var PUBLISHABLE_KEY = '<%= ENV['publishable_key'] %>'
      var CURRENT_USER_ID = "<%= current_user.present? ? current_user.id : nil %>"
    </script>
    
  </head>
   
    <body  class="full-width bg-light-gray">
        <div class="wrapper bg-light-gray" >
            <%= render "shared/navbar" %> 
            <div class="container bg-light-gray pt-40">
                <%= render "shared/breadcrumbs" %> 
                <%= yield %>
                <%= render "shared/footer" %> 
            </div>
        </div>
    </body>
    
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
