<!DOCTYPE html>
<html ng-app="microsite" ng-cloak disable-right-click>
  <head>
    <title>ArtzibitDev</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({
      google: ['Montserrat']
    }) %>
    <%= yield(:head) %>

    <script type="text/javascript">
      var API_BASE_URL = '<%= Settings.api_url %>';
      var CSRF_TOKEN = {
        name: '<%= request_forgery_protection_token.to_s %>',
        value: '<%= form_authenticity_token.to_s %>'
      };
      
      var USER_TOKEN = '<%= current_user.try(:authentication_token) %>'
      var USER_EMAIL = '<%= current_user.try(:email) %>'
      var PUBLISHABLE_KEY = '<%= ENV['publishable_key'] %>'
      var CURRENT_USER_ID = "<%= current_user.present? ? current_user.id : nil %>"
    </script>
    
  </head>
  <body  oncontextmenu= "return false">
    <div class="container-fluid">
      <div class="row">
        <%= render "shared/navbar" %>
      </div>
      <div class="row">

        <div class="col-md-5 col-sm-5 col-xs-5 left-div" style="background: url(<%=image_path(@bg_image)%>) repeat-y 50% 0;;
          background-size: cover;">
          <% if controller_name == "artworks" %>
            <%= render "shared/file_requirements" %>
          <% end %>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 right-div">
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
