
<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf", :media => "print"  -%>  
</head>
<body ng-app="microsite">
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>