<!DOCTYPE html>
<html ng-app="microsite"  ng-cloak disable-right-click>
  <head>
    <title>Artzibit</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
    <script type="text/javascript">
      var API_BASE_URL = '<%= Settings.api_url %>';
      var CSRF_TOKEN = {
        name: '<%= request_forgery_protection_token.to_s %>',
        value: '<%= form_authenticity_token.to_s %>'
      };
      
      var USER_TOKEN = '<%= current_user.try(:authentication_token) %>'
      var USER_EMAIL = '<%= current_user.try(:email) %>'
      var PUBLISHABLE_KEY = '<%= ENV['publishable_key'] %>'
      var CURRENT_USER_ID = "<%= current_user.present? ? current_user.id : nil %>"
    </script>
    
  </head>
   
    <body  class="full-width bg-white">
        <div class="wrapper bg-light-gray" >
            <div class="container bg-light-gray pt-100">
                <img src="/assets/artzibit-logo.png" class="img-responsive center-block" style="height: 100px;">
                <h3 class="text-bold text-center">Artzibit</h3>
                <hr>
                <%= yield %>
                <%= render "shared/footer" %> 
            </div>
        </div>
    </body>
    
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
