<div class="col-xs-12 col-md-4 col-md-offset-4 text-center m-b-100 m-t-50">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: {autocomplete: "off"}) do |f| %>
      <h1 class="page-title">Sign Up</h1>

      <div class="col-xs-12 p-0">
        <!-- <%= devise_error_messages! %> -->
      </div>
      <div class="row">
        <div class="col-md-6 p-r-5">
          <% if show_form_errors(@user, :first_name).present? %> <p class="error text-left"><%= show_form_errors(@user, :first_name) %></p> <% end %>
        </div>
        <div class="col-md-6 p-l-5">
          <% if show_form_errors(@user, :last_name).present? %> <p class="error text-left"><%= show_form_errors(@user, :last_name) %></p> <% end %>
        </div>
      </div>
      <div class="col-md-6 p-l-0 p-r-5">
        <div class="form-group">
          <%= f.text_field :first_name, autofocus: true, class: "form-control like-button",
            placeholder: "First Name" %>
        </div>
      </div>
      <div class="col-md-6 p-r-0 p-l-5">
        <div class="form-group">
           <%= f.text_field :last_name, autofocus: true, class: "form-control like-button",
            placeholder: "Last Name" %>
        </div>
      </div>

      <!-- <div class="form-group">
        <%= f.text_field :username, autofocus: true, class: "form-control like-button",
          placeholder: "Username" %>
      </div> -->
      <div class="form-group">
        <% if show_form_errors(@user, :email).present? %> <p class="error text-left"><%= show_form_errors(@user, :email) %></p> <% end %>
        <%= f.email_field :email, autofocus: true, class: "form-control like-button",
          placeholder: "Email", input_html: {autocomplete: :off} %>
      </div>

      <div class="form-group">
        <% if show_form_errors(@user, :country).present? %> <p class="error text-left"><%= show_form_errors(@user, :country) %></p> <% end %>
        <div class="select-wrapper">
          <%= f.country_select :country, {:include_blank => 'Country', priority_countries: ["SG"]}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <% if show_form_errors(@user, :contact_no).present? %> <p class="error text-left"><%= show_form_errors(@user, :contact_no) %></p> <% end %>
        <%= f.text_field :contact_no, autofocus: true, class: "form-control like-button",
          placeholder: "Contact Number"%>
      </div>

      

      <div class="form-group">
        <% if show_form_errors(@user, :password).present? %> <p class="error text-left"><%= show_form_errors(@user, :password) %></p> <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control like-button",
          placeholder: "Password" %>
      </div>

      <div class="form-group">
        <% if show_form_errors(@user, :password_confirmation).present? %> <p class="error text-left"><%= show_form_errors(@user, :password_confirmation) %></p> <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control like-button", placeholder: "Confirm Password" %>
      </div>
      <%= f.hidden_field :by_pass_activation_code, value: true %>

      <!-- <div class="form-group pull-left">
        <p> I am a...
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0;">
            <%= f.radio_button :artist_type, 'photographer',
              checked: "#{(f.object.artist_type == 'photographer') ? 'checked' : ''}" %>
            <label for= "user_artist_type_photographer" class="btn btn-default like-button form-control">
              Photographer
            </label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">
            <%= f.radio_button :artist_type, 'visual_artist',
              checked: "#{(f.object.artist_type == 'visual_artist') ? 'checked' : ''}" %>
            <label for= "user_artist_type_visual_artist" class="btn btn-default
              like-button form-control">
              Visual Artist
            </label>
          </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.hidden_field :by_pass_activation_code, value: true %>
        <%= f.text_field :website_portfolio, autofocus: true, class: "form-control like-button",
          placeholder: "Website/Portfolio" %>
      </div> -->

      

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary form-control borderless" %>
      </div>


      <div class="row">
        <p> Already have an account? <%= link_to " Sign in.", new_session_path(:user),
        class: "" %> </p>
      </div>
      <div class="row m-0">
        <p>By signing up. I agree to Artzibit's <br> <a href="<%= terms_of_service_path %>">Terms of Service</a>. View <a href="<%= faq_path %>">FAQs</a> here</p>
      </div>

  <% end %>
</div>